<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<table class="table table-striped table-bordered table-condensed">
			<thead>
				<tr>
					<th class="table-col-sm"><wicket:message key="tasks.list.notTreatedObjects.id" /></th>
					<th class="table-col-md"><wicket:message key="tasks.list.notTreatedObjects.name" /></th>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="notTreatedObjects">
					<td wicket:id="id" class="table-col-sm" />
					<td wicket:id="name" class="table-col-md" />
				</tr>
			</tbody>
		</table>
	</wicket:panel>
</html>