<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<form wicket:id="form">
		<div class="clearfix">
			<h2 class="col-lg-12"><wicket:message key="tasks.search" /></h2>
		</div>
		
		<div class="clearfix">
			<div class="form-group col-sm-3">
				<label class="sr-only" wicket:for="queueId"><wicket:label /></label>
				<select wicket:id="queueId" class="form-control" />
			</div>
			
			<div class="form-group col-sm-3">
				<label class="sr-only" wicket:for="type"><wicket:label /></label>
				<select wicket:id="type" class="form-control" />
			</div>
			
			<div class="form-group col-sm-3">
				<label class="sr-only" wicket:for="name"><wicket:label /></label>
				<input wicket:id="name" class="form-control" type="text" />
			</div>
		</div>
		
		<div class="clearfix">
			<div class="form-group col-sm-3">
				<label class="sr-only" wicket:for="status"><wicket:label /></label>
				<select wicket:id="status" class="form-control" />
			</div>
			
			<div class="form-group col-sm-3">
				<label class="sr-only" wicket:for="result"><wicket:label /></label>
				<select wicket:id="result" class="form-control" />
			</div>
			
			<div class="form-group col-sm-4">
				<label class="sr-only" wicket:for="dateMin"><wicket:label /></label>
				<div class="input-group">
					<label class="input-group-addon" wicket:for="dateMin"><span class="fa fa-calendar" /></label>
					<input wicket:id="dateMin" class="form-control" type="text" />
					
					<label class="sr-only" wicket:for="dateMax"><wicket:label /></label>
					<label class="input-group-addon" wicket:for="dateMax"><span class="fa fa-calendar" /></label>
					<input wicket:id="dateMax" class="form-control" type="text" />
				</div>
			</div>
			
			<div class="form-group col-sm-2">
				<button class="btn btn-primary" type="submit">
					<i class="fa fa-filter"></i>
					<wicket:message key="common.applyFilters" />
				</button>
			</div>
		</div>
	</form>
</wicket:panel>
</html>