<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<wicket:fragment wicket:id="contentFragment">
			<form wicket:id="signInForm">
				<fieldset>
					<div class="form-group">
						<input class="form-control input-lg" wicket:id="userName" type="text" id="username" />
					</div>
					<div class="form-group">
						<input class="form-control input-lg" wicket:id="password" type="password" id="password" />
					</div>
					<div class="form-actions">
						<button class="btn btn-success btn-lg pull-right" type="submit">
							<span class="fa fa-lock" />
							<wicket:message key="signIn.button" />
						</button>
					</div>
				</fieldset>
			</form>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="footerFragment">
			<a href="#"><wicket:message key="signIn.forgotPassword" /></a>
		</wicket:fragment>
		
		<script type="text/javascript">
			var usernameField = document.getElementById('username');
			if (usernameField.value == "") {
				usernameField.focus();
			} else {
				var passwordField = document.getElementById('password');
				if (passwordField.value == "") {
					passwordField.focus();
				}
			}
		</script>
	</wicket:extend>
</html>