<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<wicket:container wicket:id="updated">
		<wicket:message key="history.difference.common.composite.updated" />
		<div wicket:id="differences" />
	</wicket:container>
	<wicket:container wicket:id="untouched">
		<wicket:message key="history.difference.common.composite.untouched" />
	</wicket:container>
	<wicket:container wicket:id="added">
		<wicket:message key="history.difference.common.composite.added" />
		<div wicket:id="differences" />
	</wicket:container>
	<wicket:container wicket:id="removed">
		<wicket:message key="history.difference.common.composite.removed" />
		<div wicket:id="differences" />
	</wicket:container>
</wicket:panel>
</html>