<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<wicket:container wicket:id="updated">
		<wicket:message key="history.difference.common.default.updated.before" />
		<wicket:container wicket:id="before" />
		&#8680;
		<wicket:container wicket:id="after" />
		<wicket:message key="history.difference.common.default.updated.after" />
	</wicket:container>
	<wicket:container wicket:id="untouched">
		<wicket:message key="history.difference.common.default.untouched.before" />
		<wicket:container wicket:id="after" />
		<wicket:message key="history.difference.common.default.untouched.after" />
	</wicket:container>
	<wicket:container wicket:id="added">
		<wicket:message key="history.difference.common.default.added.before" />
		<wicket:container wicket:id="after" />
		<wicket:message key="history.difference.common.default.added.after" />
	</wicket:container>
	<wicket:container wicket:id="removed">
		<wicket:message key="history.difference.common.default.removed.before" />
		<wicket:container wicket:id="before" />
		<wicket:message key="history.difference.common.default.removed.after" />
	</wicket:container>
</wicket:panel>
</html>