<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<display-name>owsi-spring-security-web</display-name>

	<!--
		Utilisé par le org.springframework.web.context.ContextLoaderListener pour connaître
		la configuration à charger.
		On peut spécifier l'ordre du chargement.
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/web-context-security.xml
		</param-value>
	</context-param>

	<!--
		le DelegatingFilterProxy cherche dans le contexte spring courant
		un bean nommé <filter-name> (ici springSecurityFilterChain), et lui délègue
		le travail de filtrage.
		springSecurityFilterChain est défini par défaut lors de l'utilisation de
		http:security. Le nom du filtre est donc important ; ne pas le changer.
	-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<!--
			Point d'entrée de springMVC.
			Le contexte associé à la servlet est chargé à partir du fichier <servlet-name>-portlet.xml
			donc SpringMVC-servlet.xml.
			Le contexte spring construit sera un contexte enfant du contexte global tel que chargé par
			org.springframework.web.context.ContextLoaderListener.
		-->
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<!-- Les ressources en dehors de springmvc sont servies par la configuration tomcat par défaut -->
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/springmvc/*</url-pattern>
	</servlet-mapping>

	<listener>
		<!-- Chargement d'un contexte spring -->
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>
