<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="sidebar-section-title"><span class="fa fa-fw fa-search" /> <wicket:message key="sidebar.quickSearch.title" /></div>
	
	<div wicket:id="quickSearchContainer" class="sidebar-section-content">
		<form>
			<label wicket:for="user" class="visually-hidden"><wicket:label /></label>
			<select wicket:id="user" class="form-control" />
		</form>
	</div>
	
	<div class="sidebar-divider" />
</wicket:panel>
</html>
