<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<div wicket:id="locks" class="panel panel-default"/>
		<wicket:fragment wicket:id="lockKey">
			<div>
				<span wicket:id="key" />
			</div>
		</wicket:fragment>
	</wicket:panel>
	
	<wicket:fragment wicket:id="lockAttribution">
			<div>
				<span wicket:id="address" />
			</div>
			<div>
				<span wicket:id="attributionDate" />
			</div>
	</wicket:fragment>
</body>
</html>