.container {
	max-width: @maxPageWidth;
	min-width: @minPageWidth;
	width: auto;
	margin-bottom: 40px;
	
	border-width: 1px;
	border-style: none solid solid solid;
	border-color: #CCC;
	.border-radius(0 0 5px 5px);
	background-color: #FFFFFF;
}

.content {
	min-height: 450px;
	padding: 15px;
	
	.clearfix();
}

.content, .modal {
	h1 {
		border-bottom: 1px #CCC solid;
		margin-bottom: 20px;
		padding-bottom: 2px;
		
		.btn:not(.btn-mini):not(.btn-small):not(.btn-large) {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		
		select {
			height: 24px;
			padding: 3px;
		}
	}
	
	h2 {
		border-bottom: 1px #CCC solid;
		margin-bottom: 15px;
		padding-bottom: 2px;
		
		.btn:not(.btn-mini):not(.btn-small):not(.btn-large) {
			padding-top: 2px;
			padding-bottom: 2px;
		}
		
		select {
			height: 22px;
			padding: 2px 3px;
		}
	}
	
	h3 {
		margin-bottom: 15px;
		padding-bottom: 2px;
	}
	
	h4 {
		margin-bottom: 14px;
		padding-bottom: 1px;
	}
	
	h5 {
		margin-bottom: 12px;
		padding-bottom: 1px;
	}
	
	h6 {
		margin-bottom: 10px;
		padding-bottom: 1px;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		select {
			margin: 0;
		}
		.btn {
			font-weight: normal;
		}
	}
}

// Popover
.popover .popover-title {
	position: relative;
	padding-bottom: 8px;
	padding-right: 25px;
	
	.close {
		position: absolute;
		right: 5px;
	}
}

// User description
.application-users {
	.key-value-list {
		.line {
			border-bottom: 1px solid #EEE;
			
			&:last-child {
				border-bottom: none;
			}
			
			.line-label {
				color: #888;
				font-weight: bold;
				min-height: 0;
				padding: 8px 0px;
			}
			
			.line-value {
				min-height: 0;
				padding: 8px 0px;
			}
		}
	}
}

// Autosize widget
.plugin-autosize {
	.input-block-level();
	
	height: 20px;
	resize: none;
}
.plugin-autosize-max-height {
	max-height: 100px;
}

// jQuery UI
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color: @mainColor;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: @mainColor;
	border-color: @mainColorHighlight;
	color: #FFFFFF;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-datepicker-today .ui-state-active {
	background: @mainColorHighlight;
	border-color: @mainColor;
	color: #FFFFFF;
}

.ui-datepicker-next.ui-state-hover, .ui-datepicker-prev.ui-state-hover {
	background: transparent;
	border-color: transparent;
}