/* Pour supprimer l'ombre présente autour des popups, on redéfinit certains styles CSS de fancybox */

#fancybox-bg-n {
	background-image: none !important; 
}

#fancybox-bg-ne {
	background-image: none !important; 
}

#fancybox-bg-e {
	background-image: none !important; 
}

#fancybox-bg-se {
	background-image: none !important; 
}

#fancybox-bg-s {
	background-image: none !important; 
}

#fancybox-bg-sw {
	background-image: none !important; 
}

#fancybox-bg-w {
	background-image: none !important; 
}

#fancybox-bg-nw {
	background-image: none !important; 
}
