/* All form styles */

/* delete button is positionned absolute, so we need to set this div relative and not expanded */
.ow-autocomplete {
	position: relative;
	display: inline-block;
	
	.button img {
		/* needed for correct stacking width jquery calendar */
		z-index: 1100;
	}
}

/* popup form container hierarchy */
.popup-form-outer {
	min-height: 80px;
	
	.popup-form {
		._popup-form;
		
		.field-inline-outer {
			._field-inline-outer;
			
			.field-inline {
				._field-inline;
				
				.form-label-outer {
					._form-label-outer;
					.form-label {
						._form-label;
					}
				}
				
				.form-value-outer {
					._form-value-outer;
					.form-value {
						._form-value;
					}
				}
			}
		}
	}
	
	/* définition répartition par défaut */
	._size-25-75;
}

.required-symbol {
	color: #FF0000;
}

/* tab choice element, same as radio button but with buttons */
.tab {
	height: 40px;
	padding: 5px;
	border: 2px solid #308CBD;
	cursor: pointer;
	background-color: #EBF6FE;
	color: #308CBD;
	
	/* selected tab style */
	&.selected {
		background-color: #308CBD;
		color: #EBF6FE;
	}
}

._size-25-75 () {
	.form-label-outer {
		width: 35%;
	}
	
	.form-value-outer {
		width: 65%;
	}
}

/* private field common styles */
._input-font () {
	/* needed otherwise browser use custom form font */
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: #888888;
}

._input-border () {
	border: 1px solid #B3B3B3;
	.border-radius (4px);
}

._popup-form () {
	width: 600px;
	
	margin-bottom: 10px;
}

/* 
 * clear floats without superfluous div. Needed else field-inline-outer is height 0px
 * see http://www.quirksmode.org/css/clearing.html
 */
._field-inline-outer () {
	._clear-both-trick;
}

._field-inline () {
	/*
	 * margin on top, margin on bottom is useless because
	 * children are floating
	 */
	margin: 10px 0 0 0;
}

._form-line-height () {
	line-height: 25px;
}

._form-label-font () {
	color: #308CBD;
}

._form-label-outer () {
	float: left;
	text-align: right;
}

._form-label () {
	._form-line-height;
	._form-label-font;
	
	display: block;
	margin-right: 20px;
}

._form-value-outer () {
	float: right;
	text-align: left;
}

._form-value () {
	@input-padding: 4px;
	._form-line-height;
	
	&.major-information {
		font-weight: bold;
	}
	
	select, input, textarea {
		text-align: left;
	}
	
	select, input[type="text"], input[type="password"] {
		width: 220px;
	}
	
	input, textarea {
		._input-font;
		._input-border;
	}
	
	input[type="text"], input[type="password"], textarea {
		/* 
		 * padding must not be set on input type which is not a text field
		 * type= selector is important
		 */
		padding: @input-padding;
	}
	
	select {
		padding: 3px;
	}
	
	/* textarea which expands on available horizontal space*/
	textarea.full-width {
		width: 95%;
	}
	
	/* trick for full-width at pixel precision on textarea fields */
	.textarea-full-width-pixel-precision-outer {
		._input-border;
		padding: @input-padding;
		
		textarea {
			width: 100% !important;
			
			/* get rid of border / padding / margin allows to use percentage width */
			border: none !important;
			padding: 0 !important;
			margin: 0 !important;
		}
	}
}
