body {
	background-color:@body-background-color;
	color:@default-font-color;
	max-width:1440px;
	min-width:1024px;
	margin-left:auto;
	margin-right:auto;
}

div.page {
	margin:15px;
	margin-top:10px;
}

a {
	color:@default-link-color;
	text-decoration:none;
	
	&:hover {
		text-decoration:underline;
	}
}

/* Menu 1 */

.menu-1-outer {
	padding: 0 0 0 10px;
	background-repeat: no-repeat;
	.border-radius (10px 10px 0 0);
	background-color:@menu-1-background-color;
	border:1px solid #CCC;
	
	.menu-1 {
		a {
			color:@menu-1-font-color;
			text-decoration:none;
		}

		.logo {
			float:left;
			padding-right:10px;
			margin:4px;
			margin-right:0px;
			border-right:1px solid @menu-1-separator-border-color;
		}
		
		.menu-entry-outer {
			line-height: 15px;
			margin-top: 20px;
			padding: 10px 40px;
			float: left;
			border-right:1px solid @menu-1-separator-border-color;
			cursor: pointer;
			
			/* nécessaire car le widget de recherche pousse
			   (il est obligatoire de le représenter plus haut
			   que le reste)
			*/
			height: 15px;
			
			&.last {
				border-right: 1px solid @menu-1-separator-border-color;
			}
			
			&.selected {
				background-color:@menu-1-selected-background-color;
			}
			
			&:hover {
				background-color:@menu-1-hover-background-color;
			}
			
			.menu-entry {
				text-transform:uppercase;
				color:#666;
			}
		}
		
		.slide-toggle-panel {
			margin-left: -15px;
			margin-right: 15px;
		}
		
		.case-search-field {
			float: right;
			
			* {
				display: inline;
			}
			
			input[type='image'] {
				vertical-align: top;
			}
			
			input[type='text'] {
				.border-radius(4px);
				background: none repeat scroll 0 0 #FFFFFF;
				border: 1px solid #DDD;
				color: #067CAF;
				font-size: 0.8em;
				width:70px;
				
				/* (23 + 2 * 1 border = 25
				   = 15 hauteur de ligne + 2 * 5 dépassement)
				   = apparence centrée par rapport aux textes des menus
				 */
				height: 18px;
				line-height: 18px;
				vertical-align: top;
				position: relative;
				margin-top: -4px;
				padding:2px;
				padding-left:4px;
			}
		}
	}
	
	.right-box {
		float: right;
		margin-top: 20px;
		margin-right:20px;
		
		.menu-button {
			padding: 5px;
			padding-left:8px;
			padding-right:8px;
			margin: 0px;
			margin-right:10px;
			background-color: #FFFFFF;
			border:1px solid #CCCCCC;
			position: relative;
			.border-radius(6px);
			float:left;
			height:22px;
		}
		
		.menu-button img {
			cursor: pointer;
			padding-top:4px;
		}
		
		.user-box {
			float: left;
			padding-left: 5px;
			
			.user-information {
				font-size:11px;
				float:left;
				margin-left:5px;
				padding:5px 10px 5px 25px;
				background-color:#EEE;
				border:1px solid #DDD;
				height:22px;
				/* for vertical centering of the line */
				line-height:22px;
				background-image:url("@{staticIconUrl}/user.png");
				background-repeat:no-repeat;
				background-position:4px center;
				.border-radius(4px 0px 0px 4px);
			}
			
			.logout-button {
				float: left;
				padding: 5px;
				height: 22px;
				background-color: #FFFFFF;
				border:1px solid #DDD;
				border-left:0;
				.border-radius(0px 4px 4px 0px);
			}
		}
	}
}

/* Shortcuts panel hidden in the header */

.header-shortcuts-panel {
	position: relative;
	
	padding: 10px;
	background-color: #FFF;
	border: 1px solid @main-layout-border-color;
	border-top:0;
}

/* Breadcrumb */

.breadcrumb-outer {
	font-size: 0.9em;
	background-color:@breadcrumb-background-color;
	padding:8px;
	padding-left:15px;
	border:1px solid #CCC;
	border-top:0;
	.border-radius(0 0 5px 5px);
	
	.breadcrumb {
		float:left;
		
		a.breadcrumb-element {
			margin-right:5px;
			margin-left:5px;
		}
	}
}

/* Menu de niveau 2 (menu-item) */

.menu-item-outer {
	.menu-item {
		background-color:@menu-item-background-color;
		padding:0;
		border:1px solid @menu-item-external-border-color;
		border-top:0;
		
		.menu-entry-outer {
			float:left;
			border-right:1px solid @menu-item-separator-border-color;
			
			text-align: center;
			height: 1.3em;
			line-height: 1.3em;
			padding: 0.5em;
			padding-left: 1.5em;
			padding-right: 1.5em;
			text-transform:uppercase;
			
			&.selected {
				background-color:@menu-item-selected-background-color;
				color:@menu-item-selected-font-color;
			}
			
			&:hover {
				background-color:@menu-item-hover-background-color;
				text-decoration:none;
			}
		}
	}
}

/* Pager */

.pager-outer {
	float: right;

	div.pager {
		background-color:#F7F7F7;
		border:1px solid #DDD;
		.border-radius(4px);
		padding:3px;
		text-align:center;
		margin-top:15px;
		margin-bottom:15px;
		
		span.navigation-images {
			em img {
				display:none;
			}
		}
		
		span.navigation-pages {
			a {
				font-weight:normal;
				color:#666666 !important;
				padding:0px 6px;
				border:1px solid #F7F7F7;
				-moz-border-radius:2px;
				-webkit-border-radius:2px;
				border-radius:2px;
				margin-right:2px;
				margin-left:2px;
				
				&:hover {
					background-color:#FFF;
					border:1px solid #DDD;
					color:#666666 !important;
					text-decoration:none;
				}
			}
			
			em {
				font-weight:bold;
				color:#0A79A6;
				background-color:#D3E6F4;
				padding:0px 6px;
				border:1px solid #0A79A6;
				-moz-border-radius:2px;
				-webkit-border-radius:2px;
				border-radius:2px;
				margin-right:2px;
				margin-left:2px;
				font-style:normal;
			}
		}
	}
}

/* Content */

.main-outer {
	margin-top:15px;
}

.content-outer {
	background-color:#FFFFFF;
	padding:15px;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;

	.content {
		min-height:400px;
		
		div.column-restrict-80 {
			width:80%;
		}
		
		.column-33 {
			width:30%;
			margin-left:1%;
			margin-right:2%;
			float:left;
		}
		
		.column-66 {
			width:64%;
			margin-left:1%;
			margin-right:2%;
			float:left;
		}
		
		div.information {
			.border-radius(5px);
			padding:8px;
			margin-bottom:8px;
			background-color:#F7F7F7;
			color: #888888;
			border:1px solid #DDD;
			
			&.secondary {
				font-size:0.9em;
			}
			
			p:last-child {
				margin-bottom:0px;
			}
			
			div.subtitle {
				.border-radius(3px);
				color:#888888;
				font-weight:bold;
				margin-top:4px;
				margin-bottom:8px;
				padding:6px;
				background-color:#EEEEEE;
				border:1px solid #CCC;
			}
			
			div.information-element {
				margin-bottom: 5px;
			}
			
			div.entity {
				margin-bottom:7px;
				
				&.border {
					border-bottom: 1px solid #DDDDDD;
					padding-bottom: 7px;
				}
				.item-right {
					float: right;
				}
			}
		}
		
		div.title {
			font-size:1.3em;
			color:#AAA;
			border-bottom:1px solid #BBB;
			padding-bottom:3px;
			margin-bottom:15px;
		}
		
		div.title img.icon {
			margin-right:4px;
		}
		
		div.subtitle {
			color:#888888;
			font-weight:bold;
			margin-top:4px;
			margin-bottom:8px;
			padding:6px;
			background-color:#EEEEEE;
			border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border:1px solid #CCC;
		}
		
		div.title2 {
			color:#888888;
			font-weight:bold;
			margin-top:4px;
			margin-bottom:8px;
			padding:4px;
			background-color:#EEEEEE;
			border-radius:3px;
			-moz-border-radius:3px;
			-webkit-border-radius:3px;
			border:1px solid #CCC;
		}
	}
}

/* Tables */

table.list { 
	width: 100%;
	
	th {
		border:1px solid #CCC;
		border-left:0;
		background-color:#D3E6F4;
		padding:9px;
		
		&.first {
			border-left:1px solid #CCC;
			.border-top-left-radius(6px);
		}
		&.last {
			.border-top-right-radius(6px);
		}
	}
	
	tr.odd {
		background-color:#F4F4F4;
	}
	
	td {
		border:1px solid #CCC;
		border-left:0;
		border-top:0;
		padding:7px;
		
		&.first {
			border-left:1px solid #CCC;
		}
	}
	
	tr.empty-list td {
		border-left:1px solid #CCC;
	}
	
	tr:last-child {
		td:first-child {
			.border-bottom-left-radius(4px);
		}
		td:last-child {
			.border-bottom-right-radius(4px);
		}
	}
}

/* Footer */

.footer-outer {
	.footer {
		padding: .7em;
		padding-right: 2em;
		color: #666;
		text-align: right;
		font-size: 10px;
		line-height: 20px;
		.border-radius(0 0 10px 10px);
		background-color:#D3E6F4;
		border:1px solid #CCC;
		
		.footer-item-outer {
			float:right;
			border-right: 2px solid #fff;
			padding:4px;
			
			&.first {
				padding-right:20px;
			}
			
			&.last {
				border-right: 0px;
				padding-right:0px;
			}
			
			a {
				text-decoration:none;
				padding: 5px 19px;
				border:1px solid transparent;
				color: #555;
				.border-radius(4px);
				
				&:hover {
					background-color: #FFF;
					border:1px solid #CCCCCC;
					text-decoration: none;
					color: #555;
					.border-radius(4px);
				}
			}
		}
	}
}

div.title {
	&.feed {
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/newspaper.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.tag {
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/tag_green.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.criticity {
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/flag_red.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.user {
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/user.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.contract {
//		padding-left: 25px !important;
//		background-image: url("@{staticRootUrl}/application/images/icons/report.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.ticket {
//		padding-left: 25px !important;
//		background-image: url("@{staticRootUrl}/application/images/icons/star.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.last-read-tickets {
//		padding-left: 25px !important;
//		background-image: url("@{staticRootUrl}/application/images/icons/money.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.my-contracts {
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/report.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
	&.title-information {
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/information.png");
		background-repeat: no-repeat;
		background-position: 4px top;
	}
}

// TODO GSM :

/* cartouches boutons de menu */

.working-outer {
	float: right;
	text-align: center;
	color: red;
}

.working-outer a {
	color: red;
}

.working-outer a:hover {
	border-bottom: 1px dotted @soft-red-border;
}

.working-label {
	color: red;
}

.logout-button {
	padding: 10px;
	display: inline;
}

.logout-button img {
	vertical-align: text-bottom;
}



.menu-fly-out {
	position: absolute;
	background-color: white;
	padding: 5px;
	.border-radius (0 5px 5px 5px);
	border: 1px solid @greener-blue;
	z-index: 255;
	.box-shadow(4px, 4px, 8px, #aaa);
}

.menu-arrow-up {
	border: 1px solid @greener-blue;
	border-bottom: 0px;
	background-color: white;
}

.menu-arrow-down {
	margin-right: 2px;
}

.menu-analysis-panel {
	width: 330px;
}

.menu-ticket-panel {
	width: 420px;
}

.menu-ticket-panel a {
	color: @greener-blue;
}

.ticket-list-links {
	color: @greener-blue;
}

.ticket-list-links span {
	cursor: pointer;
}

.ticket-list-links span:hover {
	border-bottom: 2px dotted @light-blue;
}

.ticket-list-box {
	max-height: 200px;
	overflow:auto;
}

/* Title banner */

.title-banner {
	color: #4d3006;
	background-color: #D3E6F4;
	border: 1px solid #CCC;
	padding: 10px;
	.border-radius(10px 10px 0 0);
}

.title-banner .left-block {
	float: left;
}

.title-banner .right-block {
	float: right;
}

.title-banner .item-id {
}

.title-banner .page-title {
	color:#0A79A6;
	font-size: 1.1em;
	font-weight: bold;
	float:left;
	margin-top:4px;
	font-size: 14px;
	margin-left: 10px;
}

.title-banner .criticity {
	float:left;
	background-color:#FFF;
	.border-radius(6px);
	padding:4px;
	padding-left:15px;
	padding-right:15px;
	margin-right:10px;
	border: 1px solid #CCC;
}

.title-banner .time-panel {
	float:right;
}

.title-banner .time-panel .timer-outer {
	background-color:#FFF;
	.border-radius(6px);
	padding:3px;
	padding-left:15px;
	padding-right:15px;
	border: 1px solid #CCC;
}

.title-banner .item-label {
	font-size: 0.8em;
}

/* Main content */

table.collapse {
	border-collapse: collapse;
}

fieldset {
	padding : 10px;
}

.left-column-content {
	margin-right:10px;
}

.column-80 {
	width: 80%;
}

.column-60 {
	width: 60%;
}

.column-50 {
	width: 50%;
}

.column-40 {
	width: 40%;
}

.column-30 {
	width: 30%;
}

.column-20 {
	width: 20%;
}

.column-20 .header {
	.border-radius(0 0 35px 0);
	background-color: #EEEEEE;
	height: 26px;
	padding: 10px 0 0;
	text-align: center;
	vertical-align: middle;
}

.content-block-outer {
	padding:10px;
}

.content-block-title {
	text-align: left;
	font-weight: bold;
	border-bottom: 2px solid #eee;
	margin: 10px 0 10px 0;
	color: #555;
}

/* Left column */

.contract-situation {
	text-align: right;
	color: #555555;
	padding: 0 10px 0 0;
}

.contract-situation .small {
	font-size: 0.9em;
	padding: 5px 0;
}

.status-filter-button {
	width:150px;
	font-size: 0.9em;
	border: 1px solid #E0E0E0;
	margin: 10px 0 10px 20px;
	padding: 5px 10px 5px 28px;
	.border-radius(5px);
}

.status-filter-button.status-1 {
	background-image: url("@{staticIconUrl}/status_away.png");
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

.status-filter-button.status-2 {
	background-image: url("@{staticIconUrl}/bug_go.png");
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

.status-filter-button.status-3 {
	background-image: url("@{staticIconUrl}/hourglass.png");
	background-repeat: no-repeat;
	background-position: 5px 3px;
}

.tag-list {
	padding:0 10px;
}

.tag-list .tag {
	float:left;
}

.ticket-tag-list {
	font-weight: normal;
	font-size: 90%;
}

.tag-list .tag a {
	display: inline-block;
	font-size: 0.9em;
	margin: 3px;
	padding: 0 3px;
}

.contract-list {
}

.contract-list ul {
	padding-left: 1.5em;
}

.contract-list li {
	list-style-image: url("@{staticImageUrl}/bullet.gif");
	padding: 3px;
	line-height:1.6em;
}

.feed-link {
	text-decoration: none;
	color: @greener-blue;
}

.feed-link:hover {
	text-decoration: none;
	border-bottom: 2px dotted @light-blue;
}

.no-contract {
	border: 1px solid @soft-red;
	text-align: center;
	padding: 15px;
	margin: 15px;
	.border-radius (5px);
	font-weight: bold;
	color: @soft-red;
}

/* Account */

.account-panel-outer {
	 margin-right: 15px;
}

/* Ticket State Style */

.low {
	color: @ticket-state-low-color;
}

.medium {
	color: @ticket-state-medium-color;
}

.high {
	color: @ticket-state-high-color;
}

.critical {
	color: @ticket-state-critical-color;
}

.state {
	background:none;
	text-align:center;
	width:20px;
	padding-left: 3px;
	margin: 5px;
	color: #0A79A6;
	
	&.low {
		border-left: 2px solid @ticket-state-low-color;
	}
	&.state.medium {
		border-left: 2px solid @ticket-state-medium-color;
	}
	&.state.high {
		border-left: 2px solid @ticket-state-high-color;
	}
	&.state.critical {
		border-left: 2px solid @ticket-state-critical-color;
	}
}

table.list a.ticket-element {
	.ticket-number {
		font-size:0.9em;
	}
	
	.ticket-title {
	}
	
	color:@default-font-color;
	
	&.unread {
		color:@default-link-color;
	}
}

.selected-tag {
	background-color: @light-blue;
	color: @greener-blue;
	font-weight: bold;
	.border-radius (5px);
	padding: 2px;
}

.information.important {
	font-weight:bold;
	border: 1px solid @light-blue;
}

.information.minor {
	border: 1px solid @light-blue;
}

table.description {
	width: 100%;
	border-spacing: 0px 10px;
}

.description-field-name {
	color: @greener-blue;
	font-weight: bold;
	text-align: right;
	padding: 10px;
	background-color: @light-blue;
	.border-radius (15px 0px 0px 15px);
	margin: 5px;
	margin-right: 0px;
	width:30%;
}

.description-field-name.feed-name {
	width: 60%;
}

.description-field-value {
	width: 100%;
	background-color: white;
	margin: 5px;
	padding: 9px;
	margin-left: 0px;
	color: @greener-blue;
	vertical-align: middle;
	border: 1px solid @light-blue;
}

.description-field-value.feed-checkbox {
	text-align: center;
}

.major {
	font-weight:bold;
	border: 3px solid @light-blue;
	padding: 7px;
}

.important {
	font-weight: bold;
}

.contract-link {
	color: #0A79A6;
	font-weight: bold;
}

.contract-link:hover {
	text-decoration: none;
	border-bottom: 2px dotted @light-blue;
}

.tag-link {
	color: #0A79A6;
	margin-left: 10px;
}

.tag-link:hover {
	text-decoration: none;
	border-bottom: 2px dotted @light-blue;
}

.tag-autocomplete input {
	width: 85%;
}
.icon {
	vertical-align: bottom;
	width: 16px;
	height: 16px;
}

.clickable.icon {
	cursor: pointer;
}

.side-block {
	
	.side-block-title {
		.content-block-title
	}
	
	.side-block-item {
		padding-bottom: 5px;
	}
	
	.side-block-key {
		float: left;
		color: #555555;
		font-size: 90%;
		vertical-align: top;
		text-align:left;
		
		width: 40%;
	}
	
	.side-block-value {
		float: right;
		text-align: right;
		
		width: 55%;
	}
}

/* Scroll to top */
.scroll-to-top {
	opacity: 0;
	display: none;
	position: fixed;
	left: 50px;
	top: 50px;
	height: 80px;
	width: 80px;
	background-image: url("@{staticImageUrl}/arrow-top.png");
	.border-radius (5px);
	z-index: 1500;
	cursor: pointer;
}

/* Popup message list */
.messages-list-outer {
	z-index: 1500;
	position: fixed;
	bottom: 0;
	float: left;
	.border-radius (5px 5px 0 0);
	border: 1px solid #CCC;
	border-bottom: 0;
	font-weight: bold;
	color: @greener-blue;
	background-color: white;
	width: 350px;
}

.messages-list-label {
	margin: 5px;
	cursor:pointer;
}

.message-list-arrow {
	float: right;
}

.messages-list {
	display: none;
	font-weight: bold;
	color: @darker-blue;
	overflow: auto;
	max-height: 400px; 
}

.popup-table {
	width:100%;
}

.message-in-popup {
	border-top: 1px dotted #CCC;
}

.message-in-popup.even {
	background-color: #EEEEEE;
}

.message-in-popup-num {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.message-in-popup-date {
	text-decoration: none;
	font-weight: normal;
	color: black;
}

.message-in-popup-preview {
	font-weight: normal;
	color: @greener-blue;
}

.message-in-popup-quote {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

div.quick-search {
	padding-top: 10px;
}

.quick-search div {
	display: inline;
}

/* Popup image */
.popup-image {
	max-height: 100%;
	max-width: 100%;
}

/* Popup mass update */
.tag-management-table td {
	padding: 0 10px 10px 10px;
	vertical-align: top;
}

.add-tag-section {
	border-right: 2px solid #EEEEEE;
}

/* User info panel */
.user-info-panel {
	background-color: white;
	padding: 5px;
	.border-radius (5px);
	border: 1px solid @greener-blue;
	z-index: 50;
	.box-shadow(4px, 4px, 8px, #aaa);
	position: absolute;
	text-align: left;
}

.user-info-panel a {
	color: @greener-blue;
}

.user-info-panel a:hover {
	border-bottom: 2px dotted @greener-blue;
}

/* item lists */
.item-list a.item {
	color: @greener-blue;
}

.item-list a.item:hover {
	border-bottom: 2px dotted @lighter-blue;
}

/* inactive labels */
.disabled {
	color: @soft-grey;
}

.disabled:hover {
	border-bottom: 2px dotted @light-grey;
}

/*time*/
.time {
	text-decoration: none;
	color: @greener-blue;
	font-weight: bold;
}

/*work unit error*/
.high-alert {
	color: red;
}

.medium-alert {
	color: orange;
}

/*ticket state*/
.ticket-state {
	color: #000000;
}

.ticket-state.closed {
	color: #009F00;
}

.ticket-state.support {
	color: #9F0000;
}

.ticket-state.customer {
	color: #00009F;
}

.ticket-state.wip {
	color: #CC9000;
}

.ticket-state-outer {
	float: right;
	background-color: white;
	.border-radius (0 0 0 10px);
	padding: 3px;
	padding-left : 10px;
	width: 85%;
}

/* mass update */

.mass-update-button {
	cursor: pointer;
}

/* contract info panel */

.contract-info-panel {
	margin-right: 5px;
	width: auto;
	.contract-info-panel-slide {
		cursor: pointer;
		font-size:1.3em;
		color:#AAA;
		border-bottom:1px solid #BBB;
		padding-bottom:3px;
		margin-bottom:10px;
		margin-right: 10px;
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/arrow-down.png");
		background-repeat: no-repeat;
		background-position: 10px left;
		background-size: 16px;
	}
	.information {
		margin-right: 10px;
		.item-right {
			float: right;
		}
		.contract-info-panel-entity {
			padding-top: 7px;
			border-bottom-color: #DDDDDD;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			padding-bottom: 7px;
		}
		.contract-info-panel-description {
			background-color: white;
			border: 1px solid #CCCCCC;
			padding-top: 4px;
			padding-bottom: 10px;
			padding-right: 5px;
			padding-left: 5px;
			.border-radius(5px);
		}
	}
}

/* shortcut panel */
.favorite-outer {
	padding-right: 0px;
	padding-left: 28px;
	.favorite {
		width: 32%;
		margin: 0px;
		padding-right: 10px;
		
		.favorite-border {
			margin-top: 15px;
			.information {
				.border-radius(5px);
				padding: 8px;
				margin-bottom: 8px;
				background-color: #F7F7F7;
				border: 1px solid #DDD;
				color: #888;

				.entity.border {
					border-bottom: 1px dotted #DDD;
					padding-bottom: 7px;
					padding-top: 7px;
					.item-right {
						float: right;
					}
				}
			}
		}
	}
}

/* My Contracts Panel */
.my-contracts-border {
	margin-top: 15px;
	.information {
		.border-radius(5px);
		padding: 8px;
		margin-bottom: 8px;
		background-color: #F7F7F7;
		border: 1px solid #DDD;
		color: #888;

		.entity.border {
			border-bottom: 1px dotted #DDD;
			padding-bottom: 7px;
			padding-top: 7px;
			.item-right {
				float: right;
			}
		}
	}
}

/* Block Subscription Panel */

.shadowIcon {
	visibility: hidden;
}

.toggleIcon {
	&:hover .shadowIcon {
		visibility: visible;
	}
}

.subscription {
	margin-right: 20px;
	margin-left: 20px;
	float: left;
	width: 20%;
}

div.block {
	padding-left: 10px;
	border-left: 2px solid white;
	margin-bottom: 10px !important;
	.blockContent {
		margin-bottom: 10px;
		.control {
			height: 16px;
			margin-bottom: 2px;
		}
	}
}
.selector {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-radius:5px 0 0 5px;
	float: left;
	padding: 5px;
	border: 1px solid #B3B3B3;
	background-color: white;
	height: 19px;
	input.field {
		font-size: 11px;
	}
}

.selector-submit {
	float: left;
	padding: 5px;
	border: 1px solid #B3B3B3;
	border-left: none;
	background-color: #F0F0F0;
	height: 19px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-radius:0px 5px 5px 0px;
}