/* Timer */
.timer-outer {
	padding: 5px 7px 0 0;
}

.timer-label {
	font-weight: bold;
	color: @greener-blue;
	padding: 5px 5px 0 0;
}

.timer-container {
	margin-right:5px;
}

/* Messages */
.message-panel-outer {
	background-color: #F4F4F4;
	padding: 20px 20px 20px 30px;
	overflow: hidden;
	.border-radius(10px);
	
	.message-panel {
		padding-bottom: 15px;
		
		.message-panel-information-outer {
			float: left;
			width: 18%;
		}
		
		.message-panel-content-outer {
			float: left;
			width: 70%;
			
			/* when no index to display*/
			&.larger {
				width: 82%;
			}
			
			.message-box-content-outer {
				min-height: 120px;
			}
		}
		
		.message-panel-index-outer {
			float: left;
			width: 12%;
		}
	}
}

.message-panel {
	border-collapse: collapse;
}

.message-box-title-outer.new-message {
	background-color: @lighter-green;
}

.message-box-title-outer.new-message.error-empty {
	background-color: @lighter-red;
}

.empty-message {
	font-size: 120%;
	font-weight: bold;
	color: @dark-red;
}

.draft-saved {
	font-size: 120%;
	font-weight: bold;
	color: @dark-green;
}

.message-box-author {
	color: @dark-grey;
	margin-bottom: 5px;
}

.message-box-label.new-message {
	color: @dark-grey;
	margin-bottom: 5px;
}

.support .message-box-author {
	color: @darker-blue;
}

.message-box-title-outer {
	.border-radius(10px 0px 0px 10px);
	color: black;
	background-color: #DDD;
	padding: 15px 10px 15px 30px;
	margin-right: 0px;
	text-align: right;
	vertical-align: middle;
	min-height: @messagebox-min-height;
}

.support .message-box-title-outer {
	background-color: #D3E6F4;
}

.message-box-content-outer {
	background-color: #FFFFFF;
	border-top: solid 2px #DDD;
	padding: 18px 20px 20px 10px;
	min-height: @messagebox-min-height+30px;
}

.support .message-box-content-outer {
	border-top: solid 2px #D3E6F4;
}

.message-box-content-outer a {
	text-decoration: none;
	font-weight: normal;
	color: black;
	border-bottom: 1px dotted @soft-grey-border;
}

.message-box-content-outer a:hover {
	border-bottom: 1px dotted black;
}

.message-box-content-outer.new-message {
	border: solid 2px @lighter-green;
}

.message-box-content-outer.new-message.error-empty {
	border: solid 2px @lighter-red;
}

.message-id-outer {
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	.border-radius(0 0 10px 0);
	padding-right: 17px;
}

.support .message-id-outer {
	border-left: 1px solid #D3E6F4;
	border-bottom: 1px solid #D3E6F4;
	border-right: 1px solid #D3E6F4;
}

.message-id {
	width: 100%;
	height: 100%;
	text-align: right;
	vertical-align: middle;
	margin-top: 7px;
	cursor: pointer;
}

.message-id {
	font-size: 325%;
	color: #CCC;
	border: none;
}

.message-id.unread {
	color: #666;
	border: none;
}

.message-id:hover {
	color: @dark-grey;
	border: none;
}

.file-list-outer {
	margin: 20px 20px 0px 20px;
	border: 2px solid @lighter-blue;
	.border-radius (10px);
	background: white;
}

.file-list {
	padding: 10px;
}

.file-list table {
	border-spacing: 5px;
}

.ticket-form-title {
	color: @greener-blue;
	font-weight: bold;
	font-size: 120%;
	padding: 0 20px 20px 0;
}

.new-message-text-area {
	width: 100%;
	height: 125px;
	border: 1px dotted @soft-grey;
}

.text-area-button {
	background: white;
	border: 1px dotted @soft-grey;
	border-top: 0;
	.border-radius (0 0 5px 5px);
	float: right;
	padding: 4px 20px;
	color: @dark-grey;
	font-weight: bold;
	margin-left: 30px;
	cursor: pointer;
}

.new-message-validation-button {
	background: white;
	border: 2px solid @lighter-green;
	border-top: 0;
	.border-radius (0 0 5px 5px);
	float: right;
	padding: 4px 20px;
	color: @dark-grey;
	font-weight: bold;
	font-size: 120%;
	margin-left: 30px;
	cursor: pointer;
}

.new-message-validation-button.error-empty {
	border: 2px solid @lighter-red;
	border-top: 0;
}

.code-in-message {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.code-num {
	color: @greener-blue;
}

.code-in-message a {
	font-weight: normal;
	font-style: italic;
	font-family: courier;
}

.quote-in-message-outer {
	color: black;
	background-color: #EFFAFE;
	border: 2px dotted @light-blue;
	margin: 20px;
	padding: 0;
}

.quote-in-message {
	height: 100%;
	padding: 25px 30px 25px 50px;
}

.quote-in-message-outer .quote-in-message-top-left {
	height: 100%;
	background-position:top left;
	background-repeat:no-repeat;
	background-image: url("@{staticImageUrl}/quote-left.png");
}

.quote-in-message-outer .quote-in-message-bottom-right {
	height: 100%;
	background-position:bottom right;
	background-repeat:no-repeat;
	background-image: url("@{staticImageUrl}/quote-right.png");
}


.quote-in-message a {
	font-weight: normal;
	font-style: italic;
}

.new-message-file-outer {
	margin: 30px 0 0 0;
	border: 2px solid @lighter-green;
	.border-radius (10px);
	background: white;
}

.new-message-file-list {
	padding: 10px;
}

.new-message-file-list table {
	border-spacing: 5px;
}

.new-message-upload-file {
	padding: 10px;
}

.upload-button {
	margin: 0 0 0 20px;
	padding: 5px;
	color: @greener-blue;
	font-weight: bold;
	border: 2px solid @soft-grey-border;
	.border-radius (5px);
	cursor: pointer;
}

.upload-button:hover {
	background: @soft-grey;
}

/* Help Panel */

.help-outer {
	float: right;
	background-color: white;
	.border-radius (0 0 0 10px);
	padding: 5px;
	width: 85%;
}

.help-icon {
	display: inline;
	vertical-align: middle;
}

.help-button {
	cursor: pointer;
}

.help-button-label {
	display: inline;
	font-weight: bold;
	color: @greener-blue;
	vertical-align: middle;
}

.help-content {
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 2px dotted @soft-grey-border;
	font-size: 88%;
	height: 150px;
	overflow: auto;
}

.help-content-title {
	font-weight: bold;
}

/* Internal note */
.internal-note {
	background: white;
	padding: 18px 20px 20px 10px;
	border-top: 2px solid @soft-red;
}

.title-internal-support-note {
	background: @soft-red;
	font-weight: bold;
	vertical-align: middle;
}

.message-id-outer.message-box-content-outer.internal-note {
	border: 2px dotted @soft-red;
	border-top: 2px solid @soft-red;
	padding: 0;
	height: 132px;
}

.button-write-new-message.internal-note-button {
	margin: 10px auto;
	cursor: pointer;
}
