.table-col-xs() {
	width: 30px;
}

.table-col-sm() {
	width: 60px;
}

.table-col-md() {
	width: 120px;
}

.table-col-lg() {
	width: 180px;
}

.table-col-xl() {
	width: 250px;
}

.table-col-xxl() {
	width: 400px;
}

.table {
	tr {
		th, td {
			&.table-col-xs {
				.table-col-xs();
			}
			&.table-col-sm {
				.table-col-sm();
			}
			&.table-col-md {
				.table-col-md();
			}
			&.table-col-lg {
				.table-col-lg();
			}
			&.table-col-xl {
				.table-col-xl();
			}
			&.table-col-xxl {
				.table-col-xxl();
			}
			
			&.date {
				.table-col-sm();
			}
			&.datetime {
				.table-col-md();
			}
		}
		
		td {
			&.picto {
				text-align: center;
			}
		}
	}
}

.multivalued {
	.multivalued-item {
		display: block;
		
		& + .multivalued-item {
			margin-top: 2px;
			padding-top: 2px;
			border-top: 1px dotted #ccc;
		}
	}
	
	a.expand-toggle {
		float: right;
		cursor: pointer;
		text-decoration: none;
		
		.fa-plus-circle {
			display: none;
		}
		.fa-minus-circle {
			display: inline-block;
		}
	}
	
	&.closed {
		.multivalued-item + .multivalued-item {
			display: none;
		}
		
		a.expand-toggle {
			.fa-plus-circle {
				display: inline-block;
			}
			.fa-minus-circle {
				display: none;
			}
		}
	}
	
	&.with-separator {
		.multivalued-item {
			& + .multivalued-item {
				margin-top: 2px;
				padding-top: 2px;
				border-top: 1px dotted #ccc;
			}
		}
	}
}