// OWSI-Core
@main-color:						#106a8f;//#0A79A6;
@main-color-highlight:				#298edb;
@footer-background:					#DDDDDD;
@footer-text:						#666666;


@min-page-width:						0;

// Variables Bootstrap
@body-bg:							#555555;
@body-lg-bg:						#EFEFEF; // for @media (min-width: @max-page-width)

@font-size-base:					13px;
@line-height-base:					1.384615385; // > @line-height-computed ~ 18px

@font-size-h1:						floor(@font-size-base * 2); // ~26px
@font-size-h2:						floor(@font-size-base * 1.8); // ~23px
@font-size-h3:						ceil(@font-size-base * 1.5); // ~20px
@font-size-h4:						ceil(@font-size-base * 1.25); // ~17px
@font-size-h5:						@font-size-base;
@font-size-h6:						@font-size-base;

@grid-float-breakpoint:				950px;

@grid-gutter-half-width:			(@grid-gutter-width / 2);

// Link
//@link-color:						@main-color;
//@link-hover-color:					darken(@link-color, 10%);

// Sub menu (OWSI-Core)
@sub-menu-bg:						#DAE6EF;
@sub-menu-link-color:				@link-color;
@sub-menu-link-hover-color:			@link-hover-color;
@sub-menu-link-hover-bg:			#FAFAFA;
@sub-menu-link-active-color:		@sub-menu-link-color;
@sub-menu-link-active-bg:			#F8F8F8;
@sub-menu-link-disabled-color:		#CCCCCC;
@sub-menu-link-disabled-bg:			transparent;

// Main menu
@navbar-default-color:				#FFFFFF;
@navbar-default-bg:					#0C96C7;
@navbar-default-border:				@sub-menu-bg;

// Main menu links
@navbar-default-link-color:				#FFFFFF;
@navbar-default-link-hover-color:		#666666;
@navbar-default-link-hover-bg:			#FAFAFA;
@navbar-default-link-active-color:		@sub-menu-link-color;
@navbar-default-link-active-bg:			@sub-menu-bg;
@navbar-default-link-disabled-color:	#CCCCCC;
@navbar-default-link-disabled-bg:		transparent;

// Main menu brand label
@navbar-default-brand-color:			@navbar-default-link-color;
@navbar-default-brand-hover-color:		darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:			transparent;

// Main menu toggle
@navbar-default-toggle-hover-bg:		@navbar-default-link-hover-bg;//@sub-menu-bg;
@navbar-default-toggle-icon-bar-bg:		#FFFFFF;
@navbar-default-toggle-border-color:	#FFFFFF;

//@main-menu-bg:						#0C96C7;
@page-breadcrumb-bg:				#F8F8F8;
@page-title-bg:						#F8F8F8;
@page-title-color:					#666666;

@page-lead-bg:						#EEEEEE;

@navbar-height:						40px;
@main-menu-height:					@navbar-height + @navbar-height;
