.administration {

	.description {
		
		.control-label {
			font-weight: bold;
		}
	}
	
	&.usergroup-description {
		.portfolio .pagination {
			margin-top: 0;
		}
	}
}

.check-item {
	width: 200px;
}