.float-left {
	float:left;
}

.float-right {
	float:right;
}

.clear-both {
	clear:both;
}

.column-30 {
	width: 30%;
}

.column-40 {
	width: 40%;
}

.column-50 {
	width: 50%;
}

.column-60 {
	width: 60%;
}

.column-70 {
	width: 70%;
}