body {
	background: none repeat scroll 0 0 #EEEEEE;
}

.container {
	background-color: #FFFFFF;

	.navbar .user-info .btn-icon-only {
		padding: 4px 10px;
	}

	.content {
		.main-title {
			border-bottom: 1px solid #CCCCCC;
			font-size: 22px;
			font-weight: bold;
			line-height: 32px;
			margin-bottom: 15px;
		}
		
		.second-title {
			color: #666666;
			border-bottom: 1px solid #CCCCCC;
			font-size: 16px;
			font-weight: bold;
			line-height: 20px;
			margin-bottom: 10px;
			padding-bottom: 3px;
		}
		
		.content-bloc {
			padding: 5px;
		}
	}
}

.empty-list {
	td {
		text-align: center;
		color: #666666;
		font-style: italic;
	}
}

// User menu
.user-link-disabled {
	.buttonBackground(lighten(@btnInverseBackground, 10%), lighten(@btnInverseBackgroundHighlight, 10%));
}