.container {
	.content {
		.main-title {
			border-bottom: 1px solid #CCCCCC;
			font-size: 22px;
			font-weight: bold;
			line-height: 32px;
			margin-bottom: 15px;
		}
		
		.second-title {
			color: #666666;
			border-bottom: 1px solid #CCCCCC;
			font-size: 14px;
			font-weight: bold;
			line-height: 20px;
			margin-bottom: 10px;
		}
	}
}

.empty-list {
	td {
		text-align: center;
		color: #666666;
		font-style: italic;
	}
}