.description-section {
	padding: 0;
	width: auto;
	margin-bottom: 15px;
	
	* + .description-section {
		margin-top: 10px;
	}
	
	h2, h3 {
		margin-top: 0;
	}
	
	.description-section {
		padding: 0;
	}
	
	// -----------------------------------
	// Info groups (label/value pairs)
	// -----------------------------------
	.info-group {
		line-height: @description-section-line-height;
		
		&+ .info-group {
			margin-top: 7px;
		}
		
		.clearfix();
		
		.info-pair {
			.clearfix();
			
			&.info-pair-block {
				.info-label, .info-content {
					float: none;
					display: block;
					width: auto;
					max-width: none;
					overflow: visible;
					margin: 0;
				}
			}
			
			.info-label, .info-content {
				vertical-align:	top;
			}
			
			.info-label {
				float: left;
				display: inline-block;
				max-width: 160px;
				width: 40%;
			}
			
			.info-content {
				display: block;
				overflow: hidden; // Block Formatting Context; see http://colinaarts.com/articles/the-magic-of-overflow-hidden/
				min-height: @line-height-computed;
				margin-left: 2%;
			}
		}
	}
	
	.add-info-pair-labels-variant(@suffix, @width, @max-width) {
		&.labels-@{suffix} .info-pair:not(.info-pair-block),
		.labels-@{suffix} .info-pair:not(.info-pair-block),
		.info-pair:not(.info-pair-block).labels-@{suffix},
		.info-pair:not(.info-pair-block) .labels-@{suffix} {
			.info-label {
				width: @width;
				max-width: @max-width;
			}
		}
	}
	
	.add-info-pair-labels-variant(small, 30%, 100px);
	.add-info-pair-labels-variant(medium, 40%, 160px);
	.add-info-pair-labels-variant(large, 50%, 180px);
	.add-info-pair-labels-variant(xlarge, 60%, 200px);
}
