.description-section {
	padding: 10px;
	width: auto;
	
	& + .description-section {
		margin-top: 15px;
	}
	
	* + .description-section {
		margin-top: 10px;
	}
	
	h2, h3 {
		margin-top: 0;
	}
	
	.description-section {
		padding: 0;
	}
	
	.col-md-3, .col-md-4, .col-md-5 {
		.description-section {
			padding: 0 0 10px;
			@media (min-width: @screen-md-min) {
				padding: 0;
			}
		}
	}
	
	// -----------------------------------
	// Info groups (label/value pairs)
	// -----------------------------------
	.info-group {
		&+ .info-group {
			margin-top: 7px;
		}
		
		.clearfix();
		
		.info-label, .info-content {
			vertical-align:	top;
		}
		.info-label {
			float:		left;
			display:	inline-block;
			max-width:	160px;
			
			width:		40%;
		}
		.info-content {
			display:		block;
			overflow:		hidden; // Block Formatting Context; see http://colinaarts.com/articles/the-magic-of-overflow-hidden/
			min-height: @line-height-computed;
			margin-left:	2%;
			
			.boolean-glyphicon {
				margin-top: 0;
			}
		}
		
		&.info-group-block {
			.info-label, .info-content {
				float: none;
				display: block;
				width: auto;
				max-width: none;
				margin: 0;
			}
		}
	}
	&.labels-small {
		.info-group:not(.info-group-block) {
			.info-label {
				width:		30%;
				max-width:	100px;
			}
		}
	}
	&.labels-large {
		.info-group:not(.info-group-block) {
			.info-label {
				width:		50%;
				max-width:	180px;
			}
		}
	}
	&.labels-xlarge {
		.info-group:not(.info-group-block) {
			.info-label {
				width:		60%;
				max-width:	200px;
			}
		}
	}
}
