.description {
	.description-section {
		.info-group {
			.info-pair {
				&.info-pair-block {
					.info-content {
						margin-left: 10px;
					}
					
					.info-text-container {
						.info-content {
							margin: 0;
						}
					}
				}
				
				.info-label {
					color: #888888;
					font-weight: bold;
					min-height: 16px;
				}
				
				.info-content {
					.label {
						display: inline-block;
						vertical-align: middle;
						line-height: 1.2;
						margin: 0;
					}
					
					.boolean-glyphicon {
						margin-top: 0;
					}
					
					&:not(.spaced-paragraphs) p {
						margin: 0;
					}
					
					&.spaced-paragraphs p {
						+ p {
							margin-top: 5px;
						}
					}
					
					.table {
						margin-bottom: 0;
						
						& + .table {
							margin-top: 10px;
						}
					}
				}
				
				&.fieldset-title {
					color: #888888;
					font-weight: bold;
				}
			}
		}
	}
}
