// User/UserGroup update modal popup
.modal-usergroup-form,
.modal-user-form {
	min-width: 700px;
	
	input {
		width: 350px;
	}
	textarea {
		width: 350px;
		height: 80px;
	}
	select {
		width: 350px;
	}
}
