// CSS Reset
@import "@{scope-core-bs3}bootstrap/normalize.less";
@import "@{scope-core-bs3}bootstrap/override/reset.less";

// Core variables and mixins
@import "@{scope-core-bs3}bootstrap/variables.less";
@import "@{scope-core-bs3}bootstrap/override/variables.less";
@import "variables.less";

@import "@{scope-core-bs3}bootstrap/mixins.less";
@import "@{scope-core-bs3}bootstrap/override/mixins.less";

// Core CSS
@import "@{scope-core-bs3}bootstrap/scaffolding.less";
@import "@{scope-core-bs3}bootstrap/type.less";
@import "@{scope-core-bs3}bootstrap/code.less";
@import "@{scope-core-bs3}bootstrap/grid.less";
@import "@{scope-core-bs3}bootstrap/tables.less";
@import "@{scope-core-bs3}bootstrap/forms.less";
@import "@{scope-core-bs3}bootstrap/buttons.less";

// Components
@import "@{scope-core-bs3}bootstrap/component-animations.less";
@import "@{scope-core-bs3}bootstrap/dropdowns.less";
@import "@{scope-core-bs3}bootstrap/button-groups.less";
@import "@{scope-core-bs3}bootstrap/input-groups.less";
@import "@{scope-core-bs3}bootstrap/navs.less";
@import "@{scope-core-bs3}bootstrap/navbar.less";
@import "@{scope-core-bs3}bootstrap/breadcrumbs.less";
@import "@{scope-core-bs3}bootstrap/pagination.less";
@import "@{scope-core-bs3}bootstrap/pager.less";
@import "@{scope-core-bs3}bootstrap/labels.less";
@import "@{scope-core-bs3}bootstrap/badges.less";
@import "@{scope-core-bs3}bootstrap/jumbotron.less";
@import "@{scope-core-bs3}bootstrap/thumbnails.less";
@import "@{scope-core-bs3}bootstrap/alerts.less";
@import "@{scope-core-bs3}bootstrap/progress-bars.less";
@import "@{scope-core-bs3}bootstrap/media.less";
@import "@{scope-core-bs3}bootstrap/list-group.less";
@import "@{scope-core-bs3}bootstrap/panels.less";
@import "@{scope-core-bs3}bootstrap/wells.less";
@import "@{scope-core-bs3}bootstrap/close.less";

// Components w/ JavaScript
@import "@{scope-core-bs3}bootstrap/modals.less";
@import "@{scope-core-bs3}bootstrap/tooltip.less";
@import "@{scope-core-bs3}bootstrap/popovers.less";

// Utility classes
@import "@{scope-core-bs3}bootstrap/utilities.less";
@import "@{scope-core-bs3}bootstrap/responsive-utilities.less";

// Override
@import "@{scope-core-bs3}bootstrap/override/general.less";

// Icônes
@import "@{scope-core-font-awesome}font-awesome.less";

// Éléments génériques
@import "@{scope-core-bs3}common.less";
@import "@{scope-core-bs3}nav.less";
@import "@{scope-core-bs3}alerts.less";
@import "@{scope-core-bs3}modals.less";
@import "@{scope-core-bs3}bootstrap-modal.less";
@import "@{scope-core-bs3}itemit.less";
@import "@{scope-core-bs3}autocomplete.less";
@import "@{scope-core-bs3}select2.less";
@import "@{scope-core-bs3}more.less";

// Page

#login-page {
	background: none repeat scroll 0 0 #EEEEEE;
	padding-top: 120px;
	.container {
		width: 430px;
		
		> .content {
			background-color: #FFFFFF;
			border: 1px solid #CCCCCC;
			.border-radius(10px);
			.box-shadow(0 0 5px #CCCCCC);
			
			.login-header {
				.border-radius(10px 10px 0 0);
				padding: 10px;
				font-size: 1.5em;
				
				img.logo {
					max-height: 50px;
					max-width: 150px;
				}
			}
			
			.login-content {
				padding: 30px;
			}
			
			.alert {
				padding: 8px 30px;
				margin: 0;
				border-radius: 0;
				border-top: none;
				border-right: none;
				border-left: none;
			}
		}
	}
	
	.login-title {
		border-bottom: 1px solid #DDDDDD;
		border-top: 1px solid #DDDDDD;
		color: #FFFFFF;
		background: @main-color;
		margin: 0;
		padding: 20px 30px;
	}
	
	.login-content p:first-child {
		margin-top: 0;
	}
	
	#sign-in-form {
		margin: 0;
	}
	
	#sign-in-form .form-actions {
		background: none repeat scroll 0 0 transparent;
		margin: 30px 0 0;
		padding: 15px 0 0;
		text-align: right;
	}
	
	#login-footer {
		color: #888;
		
		.separator {
			margin: 0 2px;
		}
	}
}