// OWSI-Core
@mainColor:							#0A79A6;
@mainColorHighlight:				#298edb;
@footerBackground:					#DDDDDD;
@footerText:						#666666;

@inputFocusBorder:					rgba(10,121,166,.7);
@inputFocusBoxShadow:				~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(10,121,166,.6)";

// Variables Bootstrap
@bodyBackground:					#EFEFEF;

@navbarBackground: 					@mainColor;
@navbarBackgroundHighlight: 		#3997e0;
@navbarBorder:						darken(@navbarBackground, 12%);

@navbarText:						#FFF;
@navbarLinkColor:					#FFF;
@navbarLinkColorHover:				#FFF;
@navbarLinkColorActive:				#FFF;
@navbarLinkBackgroundHover:			darken(@navbarBackground, 5%);
@navbarLinkBackgroundActive:		darken(@navbarBackground, 5%);

@navbarBrandColor:					@navbarLinkColor;

@linkColor:							@mainColor;
@linkColorHover:					darken(@linkColor, 10%);

@btnPrimaryBackground:				#888;
@btnPrimaryBackgroundHighlight:		#666;

@dropdownLinkBackgroundHover:		@mainColorHighlight;
@dropdownLinkColorHover:			#FFF;
