<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<!--
		Scan les paquets et traite les annotations @Controller, @Service,
		@Repository, @Autowired, etc.
	-->
	<context:component-scan base-package="fr.openwide.springmvc.web.controller" />

	<!--
		Configuration minimale requise en plus du web.xml pour mise en route
		de spring MVC
	-->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/spring-views/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="contentType" value="text/html;charset=UTF-8"></property>
	</bean>

	<!-- Ressources Bundle pour la traduction -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="fallbackToSystemLocale" value="false" />
		<property name="basenames">
			<list>
				<value>WEB-INF/localization/Global</value>
				<value>WEB-INF/localization/Static</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="defaultEncoding" value="UTF-8" />
		<!--
			-1 : caching permanent 0 : verification de la validité du cache à
			chaque appel X : verification de la validité du cache toutes les X
			sec
		-->
		<property name="cacheSeconds" value="0" />
	</bean>

	<!-- Locale Resolver pour les changements de langue -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

	<!--
		Chaîne d'intercepteurs appliquée lors de la récèption d'une requête
		HTTP
	-->
	<bean id="interceptorChain" class="java.util.ArrayList">
		<description>Applies an interceptor chain to each mapped HTTP request
		</description>
		<constructor-arg type="java.util.Collection">
			<list>
				<bean class="fr.openwide.springmvc.web.interceptor.MyInterceptor" />
			</list>
		</constructor-arg>
	</bean>

	<!-- Mappeur entre la requête HTTP et l'annotation @RequestMapping -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<description>Use the @RequestMapping defined in Controller beans
		</description>
		<property name="order" value="1" />
		<property name="interceptors" ref="interceptorChain" />
		<!--
			useDefaultSuffixPattern défini si les path définis dans
			@RequestMapping doivent aussi traité les sous chemins. Par exemple
			pour /users on traitera également /users.* et /users/ si
			useDefaultSuffixPattern est à true.
		-->
		<property name="useDefaultSuffixPattern" value="false" />
	</bean>

	<!-- Résolution des exceptions survenant dans le contrôleur -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<map>
				<entry key="IllegalStateException" value="error/state-error" />
			</map>
		</property>
		<property name="defaultErrorView" value="error/general-error" />
	</bean>

	<!-- Theme source -->
	<bean id="themeSource"
		class="org.springframework.ui.context.support.ResourceBundleThemeSource">
		<!--
			la recherche se fait à partir de la racine du classpath. Le fichier
			doit donc être fourni dans les ressources du projet
		-->
		<property name="basenamePrefix" value="" />
	</bean>

	<!--
		Définition du theme resolver et d'un thème par défaut décrit par le
		fichier theme-springmvc.properties
	-->
	<bean id="themeResolver"
		class="org.springframework.web.servlet.theme.FixedThemeResolver">
		<property name="defaultThemeName" value="theme-springmvc" />
	</bean>
	
	<!-- Définition d'un webBindingInitlizer pour enregistrer les editeurs -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="webBindingInitializer">
			<bean class="fr.openwide.springmvc.web.resolver.bind.MyWebBindingInitializer" />
		</property>
	</bean>
</beans>