image:
  name: maven:3.9-eclipse-temurin-11

variables:
  MAVEN_OPTS: "-Xmx1536m"
  JAVA_TOOL_OPTIONS: "-Duser.language=fr -Duser.country=FR -Duser.timezone=Europe/Paris -Dfile.encoding=UTF-8"


stages:
  - build
  - verify
  - dependencies
  - deploy
  - analyze

maven-build:
  stage: build
  environment: staging
  script:
    - "mvn spotless:check"
    - "mvn -U -DskipTests clean package"
  rules:
    - if: $CHECK_DEPENDENCIES == "true"
      when: never
    - when: always
  tags:
    - docker

maven-verify:postgresql12:
  stage: verify
  script:
    - mvn -U verify
  artifacts:
    when: always
    paths:
      - "**/target/surefire-reports/TEST-*.xml"
    reports:
      junit:
        - "**/target/surefire-reports/TEST-*.xml"
  tags:
    - docker
  services:
    - name: postgres:12
      alias: postgresql
  variables:
    POSTGRES_USER: igloo_test
    POSTGRES_PASSWORD: igloo_test
    TEST_DB_USER: igloo_test
    TEST_DB_PASSWORD: igloo_test
    TEST_DB_SCHEMA: public
    TEST_DB_NAME: igloo_test
    TEST_DB_TYPE: postgresql
    TEST_DB_HOST: postgresql
    TEST_DB_PORT: 5432

maven-dependencies:
  stage: dependencies
  environment: staging
  script:
    - "source gitlab-ci.build.conf"
    - "./ci/maven-dependencies.sh"
  rules:
    - if: $CHECK_DEPENDENCIES == "true"
  tags:
    - docker

maven-deploy:
  stage: deploy
  environment: staging
  script:
    - "mvn -U deploy -DskipTests -DperformRelease -Ddistribution=igloo-release"
  rules:
    - if: $CHECK_DEPENDENCIES == "true"
      when: never
    - if: $CI_COMMIT_BRANCH == "v5-main"
    - if: $CI_COMMIT_BRANCH == "v5-dev"
    - if: $CI_COMMIT_BRANCH =~ /^v5-ft-.*-deploy$/
    - if: $CI_COMMIT_BRANCH =~ /^v5-hf-.*$/
  tags:
    - docker

sonar-analyze:
  stage: analyze
  environment: staging
  script:
    # override sonar.projectKey / sonar.projectName for not-main branches
    - |
      SONAR_OPTS=( "-Dsonar.host.url=https://sonar.tools.kobalt.fr" )
      if [ "$CI_COMMIT_REF_NAME" != "v5-main" ]; then
        PROJECT_NAME="$( mvn -q help:evaluate -DforceStdout -Dexpression=project.name )"
        PROJECT_ARTIFACT_ID="$( mvn -q help:evaluate -DforceStdout -Dexpression=project.artifactId )"
        PROJECT_GROUP_ID="$( mvn -q help:evaluate -DforceStdout -Dexpression=project.groupId )"
        SONAR_OPTS+=("-Dsonar.projectKey=$PROJECT_GROUP_ID:$PROJECT_ARTIFACT_ID:$CI_COMMIT_REF_NAME")
        SONAR_OPTS+=("-Dsonar.projectName=$PROJECT_NAME ($CI_COMMIT_REF_NAME)")
      fi
    - mvn -U clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
      -DskipTests
      -Dsonar.qualitygate.wait=true
      "${SONAR_OPTS[@]}"
  rules:
    - if: $CHECK_DEPENDENCIES == "true"
      when: never
    - if: $CI_COMMIT_BRANCH == "v5-dev"
    - if: $CI_COMMIT_BRANCH =~ "v5-main"
    - if: $CI_COMMIT_BRANCH =~ /^v5-hf-.*$/
  allow_failure: true
  tags:
    - docker
