!.gitkeep

target
target2
.classpath
.project
.settings
.factorypath
gitlab-ci.build.conf
.allure
.*.swp
.idea/
/out/
*.iml
bin/

# npm
node_modules/
.hugo_build.lock
package-lock.json
generated-js/
coverage/
