<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="editPopup"/>
	
	<div class="card card-main">
		<div class="card-header">
			<div class="card-header-title">
				<wicket:message key="userGroup.detail.description.title" />
			</div>
		</div>
		<div class="card-body">
			<div wicket:id="lockedWarningContainer" class="alert alert-warning mb-3">
				<span class="fa fa-fw fa-lock" />
				<wicket:message key="userGroup.detail.description.warning.locked" />
			</div>
			
			<div class="row row-description">
				<div class="col-12">
					<div class="row row-description-group description-group">
						<div class="col-md-4">
							<div class="description-label">
								<wicket:message key="business.userGroup.description" />
							</div>
						</div>
						<div class="col-md-8">
							<div class="description-value">
								<div wicket:id="description" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="row row-description-group description-group">
						<div class="col-md-4">
							<div class="description-label">
								<wicket:message key="business.userGroup.authorities" />
							</div>
						</div>
						<div class="col-md-8">
							<div class="description-value">
								<ul class="list-unstyled m-0">
									<li wicket:id="authorities">
										<div class="row g-1 align-items-baseline flex-text-break">
											<div class="col-auto">
												<span wicket:id="authorityCheck" />
											</div>
											<div class="col">
												<span wicket:id="authorityName" />
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div wicket:id="actionsContainer" class="card-action card-action-bottom">
				<div class="row row-action justify-content-end">
					<div wicket:enclosure-component="edit" class="col-auto">
						<button wicket:id="edit" class="btn btn-primary" type="button">
							<span class="fa fa-fw fa-pencil-alt" />
							<wicket:message key="common.action.update" />
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>