<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="results" />
		
		<wicket:fragment wicket:id="nameFragment">
			<wicket:container wicket:id="name" />
			<div style="display:none;">
				<div wicket:id="notTreatedObjectsPanel" />
			</div>
			<span wicket:id="notTreatedObjects" class="btn btn-default btn-xs btn-icon-only">
				<span class="fa fa-times-circle" />
			</span>
		</wicket:fragment>
	</wicket:panel>
</html>