<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<div wicket:id="main" class="header-alert-main">
			<div wicket:id="container" class="header-alert-container">
				<div class="header-alert-content">
					<wicket:container wicket:id="announcements">
						<hr wicket:id="separator" class="divider divider-middle my-2">
						<div wicket:id="message" />
					</wicket:container>
					
					<button class="close" type="button">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	</wicket:panel>
</body>
</html>