<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<div wicket:id="container" class="header-alert-container">
			<div class="header-alert">
				<div class="header-alert-content">
					<div wicket:id="announcements" class="announcement">
						<div wicket:id="message" class="content content-sm" />
					</div>
				</div>
				<button wicket:id="close" class="btn-close btn-close-icon header-alert-btn-close" type="button">
					<span class="fa fa-lg fa-fw fa-times" />
					<span class="visually-hidden"><wicket:message key="common.close" /></span>
				</button>
			</div>
		</div>
		<button wicket:id="open" class="btn btn-none header-alert-btn-open stretched-link" type="button"></button>
	</wicket:panel>
</body>
</html>