<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="col-lg-3">
		<ul class="nav nav-page flex-column nav-pills" role="tablist">
			<li wicket:id="tabs" class="nav-item">
				<a wicket:id="link" class="nav-link" role="tab" data-toggle="tab">
					<span wicket:id="label" />
				</a>
			</li>
		</ul>
	</div>
	
	<div class="col-lg-9">
		<div class="tab-content">
			<div wicket:id="tabsContents" class="tab-pane fade" role="tabpanel" />
		</div>
	</div>
</wicket:panel>
</html>