<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<!-- Nav tabs -->
	<ul class="nav nav-pills nav-stacked col-sm-2" role="tablist">
		<li wicket:id="tabs"><a wicket:id="link" role="tab" data-toggle="tab"><span wicket:id="label" /></a></li>
	</ul>
	
	<!-- Tab panes -->
	<div class="tab-content col-sm-10">
		<div wicket:id="tabsContents" class="tab-pane" id="home" />
	</div>
</wicket:panel>
</html>