<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div wicket:id="popup" />
		
		<wicket:child />
		
		<wicket:fragment wicket:id="globalActionsFragment">
			<div wicket:id="actionsContainer" class="row row-xs align-items-center">
				<div wicket:enclosure-component="add" class="col-auto">
					<button wicket:id="add" class="btn btn-primary" type="button" wicket:message="title:common.action.create">
						<span class="fa fa-fw fa-plus" />
					</button>
				</div>
			</div>
		</wicket:fragment>
	</wicket:extend>
</html>