<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div class="card-body">
			<div class="alert alert-warning mb-3">
				<wicket:message key="security.password.creation.intro" />
			</div>
			
			<form wicket:id="form">
				<div class="row g-3">
					<div class="col-12">
						<div class="form-group">
							<div class="input-group">
								<label wicket:for="email" class="input-group-text"><span class="fa fa-fw fa-envelope" /></label>
								<input wicket:id="email" class="form-control" type="text" />
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<div class="input-group">
								<label wicket:for="password" class="input-group-text"><span class="fa fa-fw fa-lock" /></label>
								<input wicket:id="password" class="form-control" type="password" />
							</div>
							<div wicket:id="passwordHelp" class="form-text" />
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<div class="input-group">
								<label wicket:for="confirmPassword" class="input-group-text"><span class="fa fa-fw fa-lock" /></label>
								<input wicket:id="confirmPassword" class="form-control" type="password" />
							</div>
							<div class="form-text">
								<wicket:message key="security.user.confirmPassword.help" />
							</div>
						</div>
					</div>
					<div class="col-auto ms-auto">
						<div class="form-group">
							<button wicket:id="validate" class="btn btn-success" type="submit">
								<span class="fa fa-fw fa-check" />
								<wicket:message key="common.action.validate" />
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</wicket:panel>
</html>