<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div class="card-body">
			<div class="alert alert-info">
				<wicket:message key="security.password.recovery.request.creation.intro" />
			</div>
			
			<form wicket:id="form">
				<div class="row row-form">
					<div class="col-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><span class="fa fa-fw fa-envelope" /></span>
								</div>
								<input class="form-control" wicket:id="email" type="text" />
							</div>
						</div>
					</div>
				</div>
				
				<div class="card-action">
					<div class="row row-action justify-content-end">
						<div class="col-auto">
							<button wicket:id="validate" class="btn btn-success" type="submit">
								<span class="fa fa-fw fa-check" />
								<wicket:message key="common.action.validate" />
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</wicket:panel>
</html>