<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" wicket:id="htmlRootElement">
	<head>
		<title wicket:id="headPageTitle"></title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		
		<wicket:head />
	</head>
	<body>
		<div wicket:id="animatedGlobalFeedbackPanel" data-placement="bottom"></div>
		
		<div class="page-container">
			<!-- Scroll to top -->
			<div wicket:id="scrollToTop" class="scroll-to-top small"></div>
			
			<!-- Main navigation bar -->
			<div class="navbar navbar-fixed-top navbar-default main-menu">
				<div class="container">
					<wicket:enclosure child="userFullName">
						<div  class="user-menu">
							<wicket:container wicket:id="userFullName" />
							<a wicket:id="logoutLink" class="user-logout" wicket:message="title:common.logout">
								<span class="fa fa-power-off" />
							</a>
						</div>
					</wicket:enclosure>
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#navbar-main-collapse">
							<span class="sr-only"><wicket:message key="navigation.toggle" /></span> <span class="fa fa-bars fa-lg" />
						</button>
						<a class="navbar-brand" wicket:id="backToHomeLink"><wicket:message key="common.rootPageTitle" /></a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-main-collapse">
						<ul class="nav navbar-nav">
							<li wicket:id="mainNav">
								<a wicket:id="navLink">
									<wicket:container wicket:id="navLabel" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- Second level navigation bar -->
			<wicket:enclosure child="subNav">
				<div class="sub-menu">
					<div class="container">
						<ul class="nav navbar-nav">
							<li wicket:id="subNav">
								<a wicket:id="navLink">
									<wicket:container wicket:id="navLabel" />
								</a>
							</li>
						</ul>
					</div>
				</div>
			</wicket:enclosure>
			
			<!-- Bread crumb -->
			<wicket:enclosure child="breadCrumb">
				<div class="page-breadcrumb">
					<div class="container">
						<wicket:container wicket:id="breadCrumb" />
					</div>
				</div>
			</wicket:enclosure>
			
			<!-- Environment -->
			<wicket:container wicket:id="environment" />
			
			<!-- Page title and content -->
			<wicket:child />
			
			<!-- Footer -->
			<div class="footer">
				<div class="container">
					<wicket:message key="common.rootPageTitle" />&nbsp;&nbsp;&middot;&nbsp;&nbsp;<span wicket:id="version"></span>
				</div>
			</div>
		</div>
	</body>
</html>