<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" wicket:id="htmlRootElement">
	<head>
		<title wicket:id="headPageTitle"></title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		
		<wicket:head />
	</head>
	<body>
		<!-- Feedback panel -->
		<div wicket:id="animatedGlobalFeedbackPanel">
		</div>
		
		<div wicket:id="debugBar" />
		
		<div class="container">
			<!-- Main navigation bar -->
			<div class="navbar">
				<div class="navbar-inner">
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li wicket:id="mainNav">
								<a wicket:id="navLink">
									<wicket:container wicket:id="navLabel" />
								</a>
							</li>
						</ul>
						
						<!-- User menu -->
						<div wicket:enclosure="userFullName" class="pull-right btn-group">
							<span wicket:id="userFullName" class="btn btn-mini btn-inverse user-link-disabled"></span>
							<a wicket:id="logoutLink" wicket:message="title:common.logout.tooltip" class="btn btn-mini btn-icon-only btn-inverse">
								<span class="icon-off icon-white"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Second level navigation bar -->
			<div wicket:enclosure="subNav" class="subnav">
				<ul class="nav nav-pills">
					<li wicket:id="subNav">
						<a wicket:id="navLink">
							<wicket:container wicket:id="navLabel" />
						</a>
					</li>
				</ul>
			</div>
			
			<!-- Bread crumb -->
			<wicket:container wicket:id="breadCrumb"></wicket:container>
			
			<div class="content">
				<wicket:child />
			</div>
			
			<!-- Footer -->
			<div class="footer">
				<span><wicket:message key="common.rootPageTitle" />&nbsp;-&nbsp;<span wicket:id="version"></span></span>
			</div>
		</div>
	</body>
</html>