html {
	height: 100%;
	font-size: $font-size-root;
	color: rgba(0, 0, 0, .87);
}

body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #FBFBFB;
}

.sidebar {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: $sidebar-zindex;
	flex: 0 0 $sidebar-width;
	flex-direction: column;
	width: $sidebar-width;
	max-width: $sidebar-width;
	min-width: $sidebar-width;
	background-color: $sidebar-bg;
	color: $sidebar-color;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	
	transform: translateX(-100%);
	
	> .sidebar-container {
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow-x: hidden;
		overflow-y: auto;
		
		// Needed for scrollable flex item.
		min-height: 0px;
		min-width: 0px;
		
		> .sidebar-body-scrollable {
			flex: 1;
			min-height: 100px;
			overflow-x: hidden;
			overflow-y: auto;
			
			> .sidebar-body {
				display: flex;
				flex: 1;
				padding: $sidebar-body-padding-y 0;
				
				.sidebar-body-content {
					@include flex-item-overflow-wrap();
					
					flex: 1;
					
					.sidebar-section {
						.sidebar-section-title {
							color: #B0B0B0;
							font-weight: 600;
							font-size: .8rem;
							text-transform: uppercase;
							padding: 5px 10px;
						}
						
						.sidebar-section-content {
							padding: 5px 10px;
						}
					}
				}
			}
		}
		
		> .sidebar-footer {
			padding: 10px 10px;
			background-color: #2A2A28;
			color: $white;
			
			.footer-title {
				font-weight: bold;
				font-size: 1rem;
				margin-bottom: .15rem;
			}
			
			.footer-description {
				.footer-description-info {
					.footer-info-version {
						font-size: .85rem;
					}
					
					.footer-info-sha {
						font-size: .8rem;
					}
				}
			}
		}
		
		.sidebar-divider {
			border-top: 1px solid rgba(0, 0, 0, .1);
			margin: .75rem 0px .75rem 10px;
		}
	}
}

.body-container {
	> .main-section {
		> .main-body {
			.content-container {
				.content-header-section {
					background-color: $white;
					border-bottom: 1px solid rgba(0, 0, 0, .09);
					
					> .content-header-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 15px $layout-container-padding-x;
						
						> .content-header {
							padding: 0;
							
							.content-header-title {
								margin: 0;
								padding: 0;
							}
							
							> .content-header-elements-section {
								margin-top: .75rem;
								
								&:first-child {
									margin-top: 0;
								}
							}
						}
					}
				}
				
				.content-lead-section {
					background-color: #F5F8FA;
					border-bottom: 1px solid rgba(0, 0, 0, .09);
					
					> .content-lead-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 15px $layout-container-padding-x;
					}
				}
				
				.content-tabs-section {
					background-color: #FDFDFD;
					border-bottom: 1px solid rgba(0, 0, 0, .09);
					
					
					> .content-tabs-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 10px $layout-container-padding-x;
					}
				}
				
				.content-body-section {
					> .content-body-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 20px $layout-container-padding-x;
					}
				}
			}
		}
	}
}

.sidebar {
	&.sidebar-opening {
		transition: transform .2s ease-out;
	}
	
	&.sidebar-closing {
		transition: transform .2s ease-in;
	}
	
	&.sidebar-opening,
	&.sidebar-open {
		transform: none;
	}
	
	&.sidebar-opening,
	&.sidebar-closing,
	&.sidebar-open {
		border-right: none;
		box-shadow: $sidebar-box-shadow;
		
		@media (max-width: $sidebar-width) {
			flex-basis: 100%;
			width: 100%;
			min-width: 100%;
			max-width: 100%;
		}
	}
}

body.sidebar-open {
	.navbar {
		&.navbar-app {
			.navbar-header {
				.navbar-toggler {
					display: inline-block;
				}
			}
		}
	}
	
	.body-container {
		margin-left: 0;
	}
}

@include media-breakpoint-up($sidebar-expand) {
	body:not(.sidebar-open) {
		.navbar {
			&.navbar-app {
				.navbar-header {
					.navbar-toggler {
						display: none;
					}
				}
			}
			
			&.navbar-sidebar {
				display: none;
			}
		}
		
		.sidebar {
			box-shadow: $sidebar-box-shadow-light;
			
			transform: none;
		}
		
		.body-container {
			margin-left: $sidebar-width;
		}
	}
}

.sidebar-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: $sidebar-backdrop-zindex;
	width: 100vw;
	height: 100vh;
	background-color: $sidebar-backdrop-bg;
	
	&.fade { opacity: 0; }
	&.show { opacity: $sidebar-backdrop-opacity; }
}
