html {
	height: 100%;
	font-size: $font-size-root;
	color: rgba(0, 0, 0, 0.87);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100vh;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #F5F5F5;
}

.header-container {
	
}

.main-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	
	> .sidebar-wrapper {
		display: none;
	}
	
	> .main-content-wrapper {
		> .main-content-container {
			flex: 1;
			
			.content-container {
				> .content-header-section {
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);
					background-color: $white;
					
					> .content-header-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 15px $layout-container-padding-x;
						
						> .content-header {
							padding: 0;
							
							.content-header-title {
								margin: 0;
								padding: 0;
							}
							
							> .content-header-elements-section {
								margin-top: .75rem;
								
								&:first-child {
									margin-top: 0;
								}
							}
						}
					}
				}
				
				> .content-header-section.content-header-section-tabs {
					background-color: #FBFBFB;
					
					> .content-header-container {
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				
				> .content-body-section {
					> .content-body-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 25px $layout-container-padding-x;
						
						> .content-body {
							padding: 0;
						}
					}
				}
			}
		}
	}
}

.navigation-expand {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);
		
		&#{$infix} {
			@include media-breakpoint-down($breakpoint) {
				.navigation-expand-visible {
					display: none;
				}
			}
			
			@include media-breakpoint-up($next) {
				.navigation-expand-hidden {
					display: none;
				}
				
				.header-container {
					overflow: hidden;
				}
				
				.main-container {
					flex-direction: row;
					min-height: 0;
					overflow: hidden;
					
					.sidebar-wrapper {
						display: flex;
						flex: 0 0 $sidebar-expand-width;
						flex-direction: column;
						width: $sidebar-expand-width;
						max-width: $sidebar-expand-width;
						min-width: $sidebar-expand-width;
						background-color: $sidebar-bg;
						color: $sidebar-color;
						border-right: $sidebar-border-width solid $sidebar-border-color;
						
						.sidebar-body-wrapper { // needed for firefox css hack (clean)
							display: flex;
							flex: 1;
							min-height: 0px;
							min-width: 0px;
							
							.sidebar-body-scrollable {
								overflow-x: hidden;
								overflow-y: auto;
								flex: 1;
								
								.sidebar-body {
									display: flex;
									flex: 1;
									padding: $sidebar-body-padding-y 0;
									
									.sidebar-body-content {
										@include flex-item-overflow-wrap();
										
										flex: 1;
										
										.sidebar-section {
											.sidebar-section-title {
												color: #B0B0B0;
												font-weight: 600;
												font-size: .8rem;
												text-transform: uppercase;
												padding: 10px 15px;
											}
											
											.sidebar-section-content {
												padding: 7px 15px;
											}
										}
									}
								}
							}
						}
						
						.sidebar-footer {
							padding: 15px 15px;
							background-color: #21212E;
							border-top: 1px solid #03FFB0;
							color: #FFFFFF;
							
							.footer-title {
								color: #03FFB0;
								font-weight: bold;
								font-size: 1rem;
								margin-bottom: .15rem;
							}
							
							.footer-description {
								.footer-description-info {
									.footer-info-version {
										font-size: .85rem;
									}
									
									.footer-info-sha {
										font-size: .5rem;
									}
								}
							}
						}
						
						.sidebar-divider {
							border-top: 1px solid rgba(0, 0, 0, 0.1);
							margin: 1rem 45px;
						}
					}
					
					.main-content-wrapper {
						flex: 1 1 100%;
						display: flex;
						max-width: 100%;
						min-height: 0px;
						overflow: hidden;
						
						.main-content-container {
							overflow: auto;
						}
					}
				}
			}
		}
	}
}
