.navbar-app,
.navbar-sidebar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	
	.navbar-header {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		flex-shrink: 0;
		
		.navbar-toggler {
			display: inline-block;
			margin-right: .5rem;
		}
		
		.navbar-brand {
			margin: 0;
		}
	}
}

.navbar-app {
	.navbar-header {
		margin-right: $navbar-padding-x;
	}
	
	.navbar-body {
		margin-left: $navbar-padding-x;
	}
}

@mixin navbar-nav-link-hover() {
	border-radius: $border-radius;
	background-color: rgba($white, .2);
	@include transition(all .3s ease 0s);
}

@mixin navbar-nav-link-focus() {
	@include navbar-nav-link-hover();
}

.navbar-main {
	.navbar-nav {
		.nav-item {
			&.active, &.dropdown.show {
				.nav-link {
					@include navbar-nav-link-focus();
				}
			}
			
			.nav-link {
				&:not(.disabled):hover {
					@include navbar-nav-link-hover();
				}
			}
		}
	}
}
