@mixin navbar-nav-link-hover() {
	border-radius: $border-radius;
	background-color: rgba($white, .2);
	@include transition(all .3s ease 0s);
}

@mixin navbar-nav-link-focus() {
	@include navbar-nav-link-hover();
}

.navbar-main {
	.navbar-nav {
		.nav-item {
			&.active, &.dropdown.show {
				.nav-link {
					@include navbar-nav-link-focus();
				}
			}
			
			.nav-link {
				&:not(.disabled):hover {
					@include navbar-nav-link-hover();
				}
			}
		}
	}
}

.navigation-expand {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);
		
		&#{$infix} {
			.navbar {
				@extend .navbar-expand#{$infix};
				
				@include media-breakpoint-up($next) {
					.navbar-nav {
						> li {
							&.nav-item {
								margin: 0 2px;
							}
						}
					}
					
					.navbar-header {
						width: calc(#{$sidebar-expand-width} - #{$navbar-padding-x});
						padding-right: $navbar-padding-x;
						
						.navbar-brand {
							width: 100%;
							margin: 0;
						}
					}
					
					.navbar-body {
						margin-top: 0;
						padding-left: $navbar-padding-x;
					}
				}
			}
		}
	}
}
