.sidenav-container {
	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
		}
	}
	
	ul.sidenav {
		li.sidenav-item {
			> a.sidenav-link {
				display: flex;
				align-items: center;
				justify-content: space-between;
				
				padding: 6px 15px 6px 12px;
				border-left: 3px solid transparent;
				font-size: 1rem;
				word-wrap: break-word;
				text-decoration: none;
				color: inherit;
				
				&:hover, &:focus {
					text-decoration: none;
					outline: 0;
					background-color: rgba(0, 0, 0, 0.06);
				}
				
				> .sidenav-icon {
					color: $gray-600;
					margin-right: 10px;
					line-height: 1.5;
				}
				
				> .sidenav-label {
					@include flex-item-overflow-wrap();
					flex: 1 1 100%;
					line-height: 1.5;
				}
				
				> .sidenav-label-sub-open-icon,
				> .sidenav-label-sub-close-icon {
					display: none;
				}
				
				&.sidenav-link-sub {
					&:not(.collapsed) {
						> .sidenav-label-sub-open-icon {
							display: inline;
						}
					}
					
					&.collapsed {
						> .sidenav-label-sub-close-icon {
							display: inline;
						}
					}
				}
			}
			
			&.active {
				> a.sidenav-link {
					background-color: rgba($primary, 0.15);
					color: $primary;
					font-weight: bold;
					border-left: 3px solid $primary;
					
					> .sidenav-icon {
						color: $primary;
					}
					
					> .sidenav-label {
						color: $primary;
					}
				}
			}
			
			&.active-sub {
				> a.sidenav-link {
					> .sidenav-label {
						font-weight: bold;
					}
				}
			}
			
			ul.sidenav-sub {
				padding: 2px 0 0 0;
				border-top: 1px solid rgba(0, 0, 0,.04);
				
				> li.sidenav-item {
					> a.sidenav-link {
						padding-left: 30px;
					}
				}
			}
		}
	}
}
