$sidebar-border-width:									1px;
$sidebar-border-color:									#E3E3E3;
$sidebar-bg:											#F1F1F1;
$sidebar-color:											#696969;
$sidebar-expand-width:									260px;

$sidebar-body-padding-y:								8px;

$sidebar-footer-padding-x:								15px;
$sidebar-footer-padding-y:								$sidebar-footer-padding-x;
$sidebar-footer-bg:										#21212E;
$sidebar-footer-border-color:							#03FFB0;
$sidebar-footer-color:									#FFFFFF;

$main-content-margin-left:								$sidebar-expand-width;
$main-content-padding-x:								15px;
$main-content-padding-y:								15px;
$main-content-main-header-container-padding-x:			$main-content-padding-x;
$main-content-main-header-container-padding-y:			$main-content-padding-y;
$main-content-main-body-container-padding-x:			$main-content-padding-x;
$main-content-main-body-container-padding-y:			$main-content-padding-y;
