// OVERRIDE Bootstrap
$breadcrumb-padding-y:							0 !default;
$breadcrumb-padding-x:							0 !default;
$breadcrumb-margin-bottom:						.5rem !default;
$breadcrumb-bg:									transparent !default;
// OVERRIDE Bootstrap

$sidebar-border-width:							1px !default;
$sidebar-border-color:							#E3E3E3 !default;
$sidebar-bg:									#F1F1F1 !default;
$sidebar-color:									#696969 !default;
$sidebar-expand-width:							260px !default;
$sidebar-expand-box-shadow:						0 1px 1px 0 rgba(0, 0, 0, .16) !default;

$sidebar-body-padding-y:						8px !default;

$sidebar-footer-padding-x:						15px !default;
$sidebar-footer-padding-y:						$sidebar-footer-padding-x !default;
$sidebar-footer-bg:								#21212E !default;
$sidebar-footer-border-color:					#03FFB0 !default;
$sidebar-footer-color:							#FFFFFF !default;

$main-content-margin-left:						$sidebar-expand-width !default;
$main-content-padding-x:						15px !default;
$main-content-padding-y:						15px !default;
$main-content-main-header-container-padding-x:	$main-content-padding-x !default;
$main-content-main-header-container-padding-y:	$main-content-padding-y !default;
$main-content-main-body-container-padding-x:	$main-content-padding-x !default;
$main-content-main-body-container-padding-y:	$main-content-padding-y !default;
