.container {
	width: 550px;
	margin: 20px auto;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}

.main-title {
	margin: 0;
	padding: 15px;
	background: #0A79A6;
	color: #FFFFFF;
	border-bottom: 1px solid #105986;
	border-radius: 5px 5px 0 0;
}

.title {
	margin: 0;
	padding: 10px 15px;
	background: #EEEEEE;
	color: #666;
	border-bottom: 1px solid #CCCCCC;
}

.content {
	padding: 15px;
	background: #FFFFFF;
	min-height: 120px;
}

.main-link-container {
	text-align: center;
	margin-top: 5px;
}

.footer {
	padding: 10px 15px;
	background-color: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	border-radius: 0 0 5px 5px;
}

.intro {
	margin-top: 0;
	.alert-info();
}
