html {
	height: 100%;
	font-size: $font-size-root;
	color: rgba(0, 0, 0, 0.87);
}

body {
	background-color: #F5F5F5;
	min-height: 100vh;
	height: 100%;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	
	> .header-section {
		flex: 0 0 auto;
	}
	
	> .body-section {
		flex: 1 0 auto;
		
		> .content-container {
			display: flex;
			flex-direction: column;
			
			> .content-header-section {
				background-color: $white;
				border-bottom: 1px solid rgba(0, 0, 0, 0.125);
				
				> .content-header-container {
					@include make-container();
					@include make-container-max-widths();
					
					padding: 15px;
					
					> .content-header {
						.content-header-title {
							margin: 0;
							padding: 0;
						}
						
						> .content-header-elements-section {
							margin-top: .75rem;
							
							&:first-child {
								margin-top: 0;
							}
						}
					}
				}
			}
			
			> .content-body-section {
				flex: 1 0 auto;
				
				> .content-body-container {
					@include make-container();
					@include make-container-max-widths();
					
					padding: 25px 15px;
					
					> .content-body {
						
					}
				}
			}
		}
	}
	
	> .footer-section {
		flex: 0 0 auto;
		
		background-color: #21212E;
		border-top: 1px solid #03FFB0;
		color: #FFFFFF;
		
		> .footer-container {
			@include make-container();
			@include make-container-max-widths();
			
			padding: 10px 15px;
			
			display: flex;
			flex-direction: row-reverse;
			
			.footer-info {
				max-width: 400px;
				
				@include flex-overflow-wrap();
				
				.footer-info-title {
					color: #03FFB0;
					font-weight: bold;
					font-size: 1rem;
					margin-bottom: .15rem;
				}
				
				.footer-info-version {
					font-size: .85rem;
				}
				
				.footer-info-sha {
					font-size: .5rem;
				}
			}
		}
	}
}
