.navbar-app {
	.navbar-header {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		
		.navbar-toggler {
			margin-right: .5rem;
		}
	}
}

@mixin navbar-nav-link-hover() {
	border-radius: $border-radius;
	background-color: rgba($white, .2);
	@include transition(all .3s ease 0s);
}

@mixin navbar-nav-link-focus() {
	@include navbar-nav-link-hover();
}

.navbar-main {
	.navbar-nav {
		.nav-item {
			&.active, &.dropdown.show {
				.nav-link {
					@include navbar-nav-link-focus();
				}
			}
			
			.nav-link {
				&:not(.disabled):hover {
					@include navbar-nav-link-hover();
				}
			}
		}
	}
}
