.navbar-expand {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);
		
		&#{$infix} {
			&.navbar {
				.navbar-body {
					margin-top: 0;
				}
			}
		}
	}
}