<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="console-section">
		<div class="subtitle">
			<div class="subtitle-text"><wicket:message key="console.maintenance.task.manager.title" /></div>
		</div>
		
		<div class="alert" wicket:id="statusContainer"><wicket:container wicket:id="status" /></div>
		<div class="alert alert-info"><wicket:container wicket:id="queueSize" /></div>
		<a class="btn btn-danger" wicket:id="stop" >
			<span class="fa fa-stop icon-stop icon-white" />
			<wicket:message key="console.maintenance.task.manager.stop" />
		</a>
		<a class="btn btn-success" wicket:id="start" >
			<span class="fa fa-play icon-play icon-white" />
			<wicket:message key="console.maintenance.task.manager.start" />
		</a>
	</div>
</wicket:panel>
</html>