<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="card" class="card">
		<div class="card-header">
			<div class="card-header-title">
				<wicket:message key="console.maintenance.task.detail.batchReport" />
			</div>
		</div>
		<div class="card-body batch-report-container">
			<div class="row g-3 batch-report">
				<div wicket:id="contextes" class="col-12">
					<div wicket:id="contexte" class="font-weight-bold mb-2" />
					<div wicket:id="items" class="batch-report-item">
						<div  class="row g-1 align-items-baseline flex-overflow-wrap">
							<div class="col-auto">
								<div wicket:id="icon" class="fa fa-fw" />
							</div>
							<samp wicket:id="message" class="col" />
						</div>
					</div>
					<div wicket:id="emptyList" class="font-italic">
						<wicket:message key="console.maintenance.task.detail.batchReport.empty" />
					</div>
				</div>
				<div wicket:id="emptyList" class="font-italic">
					<wicket:message key="console.maintenance.task.detail.batchReport.empty" />
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>