<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>owsi-springmvc</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
				classpath*:application-context.xml
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>classpath*:springmvc-servlet.xml</param-value>
			</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<filter>
		<!--
			Définit l'encodage des requêtes en UTF-8.
			Sans ce filtre, les requêtes POST envoyées en UTF-8 sont traitées comme de l'ISO.
		-->
		<filter-name>SpringCharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/sitemesh/sitemesh.xml</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>SpringCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/springmvc/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<!--
			Permet de livrer les ressources statiques.
			
			ATTENTION, ceci donne accès à l'intégralité du répertoire
			de la webapp. Il faut restreindre les accès via Apache ou
			ne pas activer cette servlet en production.
		-->
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
    </servlet-mapping>
	
	<jsp-config>
		<!-- les JSP sont toutes en UTF-8 -->
		<jsp-property-group>
			<display-name>JSP configuration</display-name>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>