.history-action {
	font-weight: bold;
}

ul.history-difference-list {
	list-style-type: none;
	margin: 5px 0 0;
	
	.history-difference-inline & {
		li {
			display: inline-block;
			.path {
				display:none;
			}
		}
	}
	
	li {
		margin-left: 20px;
		.path {
			color: #888;
			margin-right: 10px;
			font-weight: bold;
		}
		
		.detail {
			ul.history-difference-list {
				margin: 0 0 3px;
			}
		}
	}
}