html {
	height: 100%;
	font-size: $font-size-root;
	color: rgba(0, 0, 0, 0.87);
}

body {
	background-color: #F5F5F5;
	min-height: 100vh;
	height: 100%;
}

.body-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	
	> .header-section {
		flex: 0 0 auto;
	}
	
	> .main-section {
		flex: 1 0 auto;
		
		> .main-header {
		}
		
		> .main-body {
			> .content-container {
				display: flex;
				flex-direction: column;
				
				> .content-header-section {
					background-color: $white;
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);
					
					> .content-header-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 15px $layout-container-padding-x;
						
						> .content-header {
							.content-header-title {
								margin: 0;
								padding: 0;
							}
							
							> .content-header-elements-section {
								margin-top: .75rem;
								
								&:first-child {
									margin-top: 0;
								}
							}
						}
					}
				}
				
				> .content-header-section.content-header-section-tabs {
					background-color: #FBFBFB;
					
					> .content-header-container {
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
				
				> .content-body-section {
					flex: 1 0 auto;
					
					> .content-body-container {
						@include make-container();
						@include make-container-max-widths();
						
						padding: 25px $layout-container-padding-x;
						
						> .content-body {
							
						}
					}
				}
			}
		}
	}
	
	> .footer-section {
		flex: 0 0 auto;
		
		background-color: #21212E;
		border-top: 1px solid #03FFB0;
		color: #FFFFFF;
		
		> .footer-container {
			@include make-container();
			@include make-container-max-widths();
			
			padding: 10px $layout-container-padding-x;
			
			.footer-title {
				color: #03FFB0;
				font-weight: bold;
				font-size: 1rem;
				margin-bottom: .1rem;
			}
			
			.footer-link {
				color: #FFFFFF;
			}
			
			.footer-description {
				.footer-description-info {
					max-width: 250px;
					text-align: right;
					
					.footer-info-version-app {
						font-size: .75rem;
					}
					
					.footer-info-version-igloo {
						font-size: .75rem;
					}
				}
			}
		}
	}
}
