$navbar-dark-color:										#FFFFFF !default;
$navbar-dark-hover-color:								$navbar-dark-color !default;
$navbar-dark-active-color:								$navbar-dark-color !default;
$navbar-dark-disabled-color:							rgba($navbar-dark-color, .5) !default;