.content {
	$content-announcement-spacing:                    $content-spacing * .5 !default;
	$content-announcement-h1-font-size:               $font-size-base * 2 !default;
	$content-announcement-h1-margin-top:              $content-spacing * .5 !default;
	$content-announcement-h2-font-size:               $font-size-base * 1.8 !default;
	$content-announcement-h2-margin-top:              $content-spacing * .5 !default;
	$content-announcement-h3-font-size:               $font-size-base * 1.6 !default;
	$content-announcement-h3-margin-top:              $content-spacing * .5 !default;
	$content-announcement-h4-font-size:               $font-size-base * 1.4 !default;
	$content-announcement-h4-margin-top:              $content-spacing * .5 !default;
	$content-announcement-h5-font-size:               $font-size-base * 1.2 !default;
	$content-announcement-h5-margin-top:              $content-spacing * .5 !default;
	$content-announcement-h6-font-size:               $font-size-base !default;
	$content-announcement-h6-margin-top:              $content-spacing * .5 !default;
	$content-announcement-list-spacing:               $content-list-spacing * .5 !default;
	$content-announcement-list-item-spacing:          $content-list-item-spacing * .5 !default;
	$content-announcement-description-item-spacing:   $content-description-item-spacing * .5 !default;
	
	&.content-announcement {
		@include content-variant(
			$content-announcement-spacing,
			$content-announcement-h1-margin-top,
			$content-announcement-h2-margin-top,
			$content-announcement-h3-margin-top,
			$content-announcement-h4-margin-top,
			$content-announcement-h5-margin-top,
			$content-announcement-h6-margin-top,
			$content-announcement-list-item-spacing,
			$content-announcement-description-item-spacing
		);
		
		h1 {
			@include font-size($content-announcement-h1-font-size);
		}
		
		h2 {
			@include font-size($content-announcement-h2-font-size);
		}
		
		h3 {
			@include font-size($content-announcement-h3-font-size);
		}
		
		h4 {
			@include font-size($content-announcement-h4-font-size);
		}
		
		h5 {
			@include font-size($content-announcement-h5-font-size);
		}
		
		h6 {
			@include font-size($content-announcement-h6-font-size);
		}
	}
}
