$static-root-url:										"../../../static" !default;

$environment-colors: (
	"development":		$success,
	"integration":		$dark,
	"qualification":	$info,
	"preproduction":	$warning,
	"production":		$danger
) !default;

$layout-container-padding-x:							$grid-gutter-width * .5 !default;
