/*
 * CAUTION: this stylesheet is intended for integration to an e-mail notification through the use of
 *          IHtmlNotificationCssService. This service only offers PARTIAL support of the CSS syntax.
 *          Please only use simple CSS selectors, such as 'a.btn#theonebutton'. In particular, combinators
 *          such as ' ', '>', '+' are NOT supported. Pseudo-classes and pseudo-elements (:first-child, ::after)
 *          are not supported either.
 */

.alert {
	padding: 8px 14px;
	background: @warningBackground;
	color: @warningText;
	border: 1px solid @warningBorder;
	.border-radius(@baseBorderRadius);
}

.alert-info {
	.alert();
	background: @infoBackground;
	border: 1px solid @infoBorder;
	color: @infoText;
}

.alert-success {
	.alert();
	background: @successBackground;
	border: 1px solid @successBorder;
	color: @successText;
}

.alert-error {
	.alert();
	background: @errorBackground;
	border: 1px solid @errorBorder;
	color: @errorText;
}
