body {
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	background-color: @notificationBodyBackground;
}

a {
	color: @linkColor;
	text-decoration: none;
}
