<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="main">
		<div class="title-banner">
			<div class="page-title" wicket:id="title"></div>
			<div class="clear"></div>
		</div>
		<div class="content-outer">
			<div class="content">
				<div class="column-40 float-left">
					<div class="title user">
						<wicket:container wicket:id="fullName"></wicket:container> (<wicket:container wicket:id="userName"></wicket:container>)
						<a class="icon float-right" wicket:id="editUserPopupLink" wicket:message="title:common.action.edit,data-tooltip:common.action.edit">
							<img src="static/application/images/icons/user_edit.png" width="16" height="16" />
						</a>
						<wicket:container wicket:id="editUserPopupPanel">
						</wicket:container>
					</div>
					<div class="information">
						<div class="subtitle"><wicket:message key="user.contact" /></div>
						<div class="information-element">
							<img class="icon" src="static/application/images/icons/email.png" wicket:message="title:user.email,data-tooltip:user.email" width="16" height="16" /> <a wicket:id="emailLink"></a>
						</div>
						<div class="information-element">
							<img class="icon" src="static/application/images/icons/telephone.png" wicket:message="title:user.phone,data-tooltip:user.phone" width="16" height="16" /> <span wicket:id="phoneNumber">[00 00 00 00 00]</span>
						</div>
						<div class="information-element">
							<img class="icon" src="static/application/images/icons/phone.png" wicket:message="title:user.gsm,data-tooltip:user.gsm" width="16" height="16" /> <span wicket:id="gsmNumber">[00 00 00 00 00]</span>
						</div>
						<div class="information-element">
							<img class="icon" src="static/application/images/icons/printer.png" wicket:message="title:user.fax,data-tooltip:user.fax" width="16" height="16" /> <span wicket:id="faxNumber">[00 00 00 00 00]</span>
						</div>
						<div class="subtitle"><wicket:message key="user.account" />
							<div class="float-right information-element">
								<img wicket:id="active" style="width: 16px; height: 16px; vertical-align: middle;" class="icon" src="static/application/images/icons/" />
							</div>
						</div>
						<div class="information-element">
							<img class="icon" src="static/application/images/icons/time_add.png" wicket:message="title:user.creationDate,data-tooltip:user.creationDate" width="16" height="16" /> <span wicket:id="creationDate"></span>
						</div>
						<div class="information-element">
							<img class="icon" src="static/application/images/icons/time_go.png" wicket:message="title:user.lastLoginDate,data-tooltip:user.lastLoginDate" width="16" height="16" /> <span wicket:id="lastLoginDate"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>