<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div class="table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th><wicket:message key="user.portfolio.header.lastName" /></th>
						<th><wicket:message key="user.portfolio.header.firstName" /></th>
						<th><wicket:message key="user.portfolio.header.userName" /></th>
						<th><wicket:message key="user.portfolio.header.email" /></th>
						<th style="width: 5%; text-align: center;"><wicket:message key="user.portfolio.header.active" /></th>
						<th style="width: 10%; text-align: center;"><wicket:message key="common.portfolio.header.actions" /></th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="item">
						<td wicket:id="lastName"></td>
						<td wicket:id="firstName"></td>
						<td wicket:id="userName"></td>
						<td wicket:id="email"></td>
						<td style="text-align: center;">
							<span wicket:id="active" />
						</td>
						<td wicket:id="actionButtons" style="text-align: center;" class="table-column"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr class="empty-list" wicket:id="emptyList">
						<td colspan="6"><wicket:message key="common.emptyList" /></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</wicket:extend>
</html>