.search-panel-outer {
	background-color: #F4F4F4;
	border: 1px solid #CCC;
	color: #666;
	margin-bottom: 15px;
	.border-radius(5px);
	
	.direct-search {
		float: right;
		padding-right: 10px;
		
		&.search-panel {
			._search-panel;
		}
		.ow-autocomplete img {
			display: none;
		}
	}
	.qualified-search {
		padding-right: 10px;
		
		&.search-panel {
			._search-panel;
		}
		.end-of-line {
			padding-bottom: 10px;
			clear: both;
		}
	}
	
	.field-inline {
		float: left;
		clear: none;
		padding-top: 0px;
		padding-right: 10px;
		margin: 0;
		
		.label-outer {
			width: 70px;
			float: left;
			text-align: right;
			margin-right: 4px;
			line-height: 20px;
			
			&.long {
				width: 100px;
			}
			&.medium {
				width: 70px;
			}
			&.short {
				width: 55px;
			}
			
			.search-field-label {
				font-style: italic;
				color: #666;
				display: inline;
				margin-right:4px;
			}
		}
		.input-outer {
			float: left;
			width: 160px;
		}
		div.ow-autocomplete {
			display: inline;
			
			.ow-autocomplete-clean {
				right: 7px;
				top: -3px;
			}
		}
	}
}

._search-panel () {
	padding: 5px;
	
	input {
		width: 150px !important;
		padding: 2px !important;
		border: 1px solid #B3B3B3;
		.border-radius (4px);
		/* needed otherwise browser use custom form font */
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		color: #888888;
	}
	
	input[type='checkbox'] {
		margin-top: 2px;
	}
	
	select {
		/* Nécessaire pour compenser les 5px manquants sur les select */
		width: 155px !important;
		padding: 1px !important;
		margin-right: 5px;
	}
	
	.buttons {
		&.apply-filter a.button {
			background-color: #FFF;
			
			&:hover {
				background-color: #FAFAFA;
				border-color: #AAA;
			}
		}
	}
}

/* Ajout d'une bordure pour séparer la recherche rapide */
.qualified-search {
	border-right: 1px solid #CCC;
	margin-right: 300px;
	min-height: 20px;
}

/* Redefinition pour un affichage vertical */
.vertical-search-panel-outer {
	.search-panel-title {
		font-size:1.3em;
		color:#AAA;
		border-bottom:1px solid #BBB;
		padding-bottom:3px;
		margin-bottom:15px;
		padding-left: 25px !important;
		background-image: url("@{staticRootUrl}/application/images/icons/magnifier.png");
		background-repeat: no-repeat;
		background-position: 10px left;
		background-size: 16px;
	}
	.search-panel-outer {
		padding-top: 4px;
		padding-bottom: 0px;
		
		.field-inline {
			padding-bottom: 10px;
			padding-right: 0px;
			.label-outer {
				padding-left: 3px;
				text-align: left;
				width: 55px;
			}
		}
		
		.qualified-search.search-panel {
			padding-top: 10px;
			&.end-of-line {
				padding-bottom: 0px;
			}
			.apply-filter {
				float: right;
				padding-right: 10px;
			}
			
			input[type='checkbox'] {
				margin-top: 2px;
			}
		}
		.direct-search.search-panel {
			float: left;
			border-bottom: 1px solid #CCC;
			border-left: none;
			width: 96%;
			padding-bottom: 0px;
			.field-inline {
				margin-left: 5px;
				.search-field-label {
					.icon {
						vertical-align: top;
					}
				}
				.label-outer {
					width: auto;
				}
			}
		}
	}
}
