<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<body>
			<div class="container">
				<div class="card">
					<h1 class="card-header card-header-main">
						<wicket:message key="common.rootPageTitle" />
					</h1>
					
					<wicket:child />
					
					<div class="card-footer text-end">
						<a wicket:id="homePageLink"><wicket:message key="common.rootPageTitle" /></a>
					</div>
				</div>
			</div>
		</body>
	</wicket:panel>
</html>