<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<h2 class="card-header">
			<wicket:message key="notification.panel.example.title" />
		</h2>
		
		<div class="card-body">
			<div wicket:id="intro" class="alert alert-warning">
				<wicket:message key="notification.panel.example.intro">
					<span wicket:id="user" class="font-weight-bold" />
					<span wicket:id="date" class="font-weight-bold" />
					<span wicket:id="time" class="font-weight-bold" />
				</wicket:message>
			</div>
			
			<p><wicket:message key="notification.panel.example.text" /></p>
			
			<p class="text-center">
				<a wicket:id="mainLink" class="btn btn-primary">
					<wicket:message key="notification.panel.example.link.label" />
				</a>
			</p>
			
			<p class="small text-muted"><wicket:message key="notification.panel.common.link.fallback"><a wicket:id="url" class="text-reset" /></wicket:message></p>
			
			<table class="mb-0">
				<tbody>
					<tr>
						<th><wicket:message key="business.user.username" /></th>
						<td><a wicket:id="userLink" /></td>
					</tr>
					<tr>
						<th><wicket:message key="business.user.lastName" /></th>
						<td><span wicket:id="lastname" /></td>
					</tr>
					<tr>
						<th><wicket:message key="business.user.firstName" /></th>
						<td><span wicket:id="firstname" /></td>
					</tr>
					<tr>
						<th><wicket:message key="business.user.email" /></th>
						<td><span wicket:id="email" /></td>
					</tr>
					<tr>
						<th><wicket:message key="business.user.lastLoginDate" /></th>
						<td><span wicket:id="lastLoginDate" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</wicket:extend>
</html>