<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div class="card-body">
			<p wicket:id="description" class="intro" />
			
			<wicket:enclosure child="mainLink">
				<div class="links">
					<wicket:container wicket:id="linkIntro" />
					<p class="main-link-container">
						<a wicket:id="mainLink" class="btn btn-link" />
					</p>
				</div>
			</wicket:enclosure>
			
			<p wicket:id="helpUsername" class="help" />
		</div>
	</wicket:extend>
</html>