<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:extend>
	<div class="card-body">
		<div wicket:id="intro" class="alert alert-warning" />
		
		<wicket:enclosure child="mainLink">
			<p wicket:id="linkIntro" />
			
			<p class="text-center">
				<a wicket:id="mainLink" class="btn btn-primary" />
			</p>
			
			<p class="small text-muted"><wicket:message key="notification.panel.common.link.fallback"><a wicket:id="url" class="text-reset" /></wicket:message></p>
		</wicket:enclosure>
		
		<p wicket:id="helpUsername" class="mb-0">
			<wicket:message key="notification.panel.user.password.recovery.request.help.username">
				<span wicket:id="username" class="fw-bold" />
			</wicket:message>
		</p>
	</div>
</wicket:extend>
</html>