body {
	@include overflow-wrap();
}

.bs-breakpoint:before{
	position: fixed;
	top: 10px;
	left: 10px;
	padding: .3rem;
	color: $black;
	background-color: $white;
	border: 1px solid $black;
	border-radius: .25em;
	line-height: 1;
	opacity: .7;
	z-index: 1000000;
	
	@each $breakpoint in map-keys($grid-breakpoints){
		@include media-breakpoint-up($breakpoint){
			content: to-upper-case("#{$breakpoint}");
		}
	}
}

.header-alert-section {
	@include bg($light);
	
	border-bottom: 1px solid rgba($black, .125);
	
	&.header-alert-section-dismissed {
		height: 10px;
	}
	
	> .header-alert-main {
		height: 100%;
		
		> .header-alert-container {
			@include make-container();
			@include make-container-max-widths();
			padding: 0;
			
			> .header-alert-content {
				position: relative;
				padding: $alert-padding-y $layout-container-padding-x;
			}
		}
	}
	
	&.header-alert-dismissible {
		cursor: pointer;
		
		> .header-alert-main {
			> .header-alert-container {
				> .header-alert-content {
					padding-right: ($close-font-size + $alert-padding-x * 2);
					
					.close {
						position: absolute;
						top: 0;
						right: 0;
						padding: $alert-padding-y $alert-padding-x;
						color: inherit;
					}
				}
			}
		}
		
		&:hover {
			.close {
				color: $close-color;
				text-decoration: none;
				opacity: .75;
			}
		}
	}
	
	&.environment-section {
		@include bg($secondary);
		
		&.development {
			@include bg($success);
		}
		
		&.testing {
			@include bg($info);
		}
		
		&.staging {
			@include bg($warning);
		}
		
		&.production {
			@include bg($danger);
		}
	}
	
	&.announcements-section {
		@include bg($warning);
	}

}

.divider {
	&.divider-middle {
		width: 60%;
	}
}
