.header-alert-section {
	background-color: $light;
	
	border-bottom: 1px solid rgba($black, .125);
	
	> .header-alert-main {
		height: 100%;
		
		> .header-alert-container {
			@include make-container();
			@include make-container-max-widths();
			
			> .header-alert-content {
				position: relative;
				padding: $alert-padding-y 0;
			}
		}
	}
	
	&.header-alert-dismissible {
		cursor: pointer;
		
		> .header-alert-main {
			> .header-alert-container {
				> .header-alert-content {
					padding-right: ($close-font-size + $alert-padding-x * 2);
					
					.close {
						position: absolute;
						top: 0;
						right: 0;
						padding: $alert-padding-y $alert-padding-x;
						color: inherit;
					}
				}
			}
		}
		
		&:hover {
			.close {
				color: $close-color;
				text-decoration: none;
				opacity: .75;
			}
		}
	}
	
	&.environment-section {
		@include bg($secondary);
		
		&.environment-section-dismissed {
			height: 10px;
		}
		
		&.development {
			@include bg($success);
		}
		
		&.testing {
			@include bg($info);
		}
		
		&.staging {
			@include bg($warning);
		}
		
		&.production {
			@include bg($danger);
		}
	}

	&.general-message-section {
		@include bg($warning);
		
		&.general-message-section-dismissed {
			height: 10px;
		}
	}

}

.break-word-container {
	display: table;
	table-layout: fixed;
	width: 100%;
	word-wrap: break-word;
}
