table {
	> thead, > tbody, > tfoot {
		> tr {
			> th, > td {
				&.text {
					&.text-xs {
						width: 130px;
					}
					&.text-sm {
						width: 180px;
					}
					&.text-md {
						width: 230px;
					}
					&.text-lg {
						width: 280px;
					}
					&.text-xl {
						width: 330px;
					}
				}
				&.code {
					&.code-xs {
						width: 70px;
					}
					&.code-sm {
						width: 95px;
					}
					&.code-md {
						width: 120px;
					}
					&.code-lg {
						width: 145px;
					}
					&.code-xl {
						width: 170px;
					}
				}
				&.statut {
					&.statut-xs {
						width: 70px;
					}
					&.statut-sm {
						width: 95px;
					}
					&.statut-md {
						width: 120px;
					}
					&.statut-lg {
						width: 145px;
					}
					&.statut-xl {
						width: 170px;
					}
				}
				&.date {
					&.date-xs {
						width: 100px;
					}
					&.date-sm {
						width: 110px;
					}
					&.date-md {
						width: 130px;
					}
					&.date-lg {
						width: 150px;
					}
					&.date-xl {
						width: 170px;
					}
				}
				&.numeric {
					&.numeric-xs {
						width: 40px;
					}
					&.numeric-sm {
						width: 80px;
					}
					&.numeric-md {
						width: 100px;
					}
					&.numeric-lg {
						width: 130px;
					}
					&.numeric-xl {
						width: 160px;
					}
				}
				&.narrow {
					width: 1px;
					text-align: center;
				}
				&.actions {
					text-align: center;
					
					&.actions-1x {
						width: 60px;
						min-width: 60px;
						max-width: 60px;
					}
					&.actions-2x {
						width: 100px;
						min-width: 100px;
						max-width: 100px;
					}
					&.actions-3x {
						width: 140px;
						min-width: 140px;
						max-width: 140px;
					}
					&.actions-4x {
						width: 180px;
						min-width: 180px;
						max-width: 180px;
					}
					&.actions-5x {
						width: 210px;
						min-width: 210px;
						max-width: 210px;
					}
				}
			}
		}
	}
	
	> thead, > tbody, > tfoot {
		> tr {
			> th, > td {
				.row-table-action {
					@include make-row();
					@include make-row-grid(map-get($grid-gutters, xxs));
					
					justify-content: center;
					
					.col-table-action {
						@include make-col-ready();
						@include make-col-auto();
					}
				}
				
				.btn-table-row-action {
					@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
				}
			}
		}
	}
}

.add-in-container {
	@include make-row-grid-row(map-get($grid-gutters, sm));
	
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	align-items: center;
	
	> .add-in-section {
		@include make-row-grid-col(map-get($grid-gutters, sm));
		
		align-self: center;
		
		> .add-in-wrapper {
			@include make-row-grid-row(map-get($grid-gutters, xs));
			
			display: flex;
			flex: 1 1 auto;
			flex-wrap: wrap;
			align-items: center;
			
			> .add-in {
				@include make-row-grid-col(map-get($grid-gutters, xs));
				
				> nav {
					> .pagination {
						margin: 0;
					}
				}
			}
		}
		
		&.add-in-section-main {
			width: 100%;
			
			> .add-in-wrapper.add-in-wrapper-main {
				> .add-in.add-in-main {
					flex-basis: 100%;
				}
			}
		}
		
		&.add-in-section-right {
			margin-left: auto;
		}
		
		&.add-in-section-left {
			> .add-in-wrapper.add-in-wrapper-left {
				> .add-in {
					&.add-in-title, &.add-in-emphasize {
						@extend .card-title;
						@extend .h5;
						margin: 0;
					}
				}
			}
		}
	}
	
	&.add-in-container-top {
		> .add-in-section {
			&.add-in-section-main {
				margin-bottom: .75rem;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	
	&.add-in-container-bottom {
		> .add-in-section {
			&.add-in-section-main {
				margin-top: .75rem;
				
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

.decorated-data-table {
	> .decorated-data-table-section {
		&.decorated-data-table-section-heading {
			margin-bottom: 1rem;
		}
		&.decorated-data-table-section-body-top {
			margin-bottom: 1rem;
		}
		&.decorated-data-table-section-body-bottom {
			margin-top: 1rem;
		}
		&.decorated-data-table-section-footer {
			margin-top: 1rem;
		}
	}
	
	.table {
		margin: 0;
	}
}

.table {
	&.table-dark {
		th {
			.btn.btn-tab-sort {
				color: $table-dark-color;
			}
		}
	}
	
	.thead-dark {
		th {
			.btn.btn-tab-sort {
				color: $table-dark-color;
			}
		}
	}
	
	.thead-light {
		th {
			.btn.btn-tab-sort {
				color: $table-head-color;
			}
		}
	}
	
	th {
		.btn.btn-tab-sort {
			margin: 0;
			padding: 0 3px;
			float: right;
			color: $body-color;
			border: none;
			background: none;
			
			&.active {
				color: $link-color;
				box-shadow: none;
				background: none;
			}
		}
	}
}
