<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div wicket:id="passwordEditPopup" />
		
		<div class="content-container">
			<div class="content-header-section">
				<div class="content-header-container">
					<div class="content-header">
						<div wicket:id="breadCrumb" />
						
						<h5 class="content-header-title">
							<a wicket:id="backToSourcePage" class="btn btn-sm btn-outline-secondary" wicket:message="title:common.backToList">
								<span class="fa fa-arrow-left" />
							</a>
							<a wicket:id="backToList" class="btn btn-sm btn-outline-secondary" wicket:message="title:common.backToList">
								<span class="fa fa-arrow-left" />
							</a>
							<wicket:container wicket:id="pageTitle" />
						</h5>
						
						<div wicket:enclosure-container class="content-header-action">
							<div class="content-header-action-container">
								<div wicket:enclosure-component="passwordEdit" class="content-header-action-item">
									<button type="button" wicket:id="passwordEdit" class="btn btn-primary">
										<span class="fa fa-key" /> 
										<wicket:message key="administration.user.action.password.edit" />
									</button>
								</div>
								<div wicket:enclosure-component="passwordReset" class="content-header-action-item">
									<button type="button" wicket:id="passwordReset" class="btn btn-primary"> 
										<span class="fa fa-unlock-alt" />
										<wicket:message key="administration.user.action.password.recovery.reset" />
									</button>
								</div>
								<div wicket:enclosure-component="enable" class="content-header-action-item">
									<button type="button" wicket:id="enable" class="btn btn-success"> 
										<span class="fa fa-check" />
										<wicket:message key="common.action.enable" />
									</button>
								</div>
								<div wicket:enclosure-component="disable" class="content-header-action-item">
									<button type="button" wicket:id="disable" class="btn btn-danger"> 
										<span class="fa fa-times" />
										<wicket:message key="common.action.disable" />
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="content-body-section">
				<div class="content-body-container">
					<div class="content-body">
						<wicket:child />
					</div>
				</div>
			</div>
		</div>
	</wicket:extend>
</html>