<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div class="page-content">
			<div class="page-header">
				<div class="d-flex flex-g-1 flex-wrap">
					<div class="flex-item">
						<a wicket:id="backToSourcePage" class="btn btn-sm btn-outline-secondary" wicket:message="title:common.backToList">
							<span class="fa fa-arrow-left" />
						</a>
						<a wicket:id="backToList" class="btn btn-sm btn-outline-secondary" wicket:message="title:common.backToList">
							<span class="fa fa-arrow-left" />
						</a>
					</div>
					<div class="flex-item">
						<h2 class="m-0"><wicket:container wicket:id="pageTitle" /></h2>
					</div>
				</div>
			</div>
			<div class="page-body">
				<wicket:child />
			</div>
		</div>
	</wicket:extend>
</html>