<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div wicket:id="loadingPopup" />
		<div wicket:id="addPopup" />
		
		<div class="page-content">
			<div class="page-header">
				<h2 class="page-header-title"><wicket:container wicket:id="title" /></h2>
				
				<div class="page-header-action">
					<div class="page-header-action-container">
						<div wicket:enclosure="add" class="page-header-action-item">
							<button wicket:id="add" class="btn btn-primary" type="button">
								<span class="fa fa-plus"></span>
								<wicket:message key="common.action.create" />
							</button>
						</div>
						<div wicket:enclosure="exportExcel" class="page-header-action-item">
							<button wicket:id="exportExcel" class="btn btn-default" type="button" wicket:message="title:common.action.export.excel">
								<span class="fa fa-download"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="page-body">
				<div wicket:id="searchPanel" class="page-search" />
				<div wicket:id="dataTable" />
			</div>
		</div>
	</wicket:extend>
</html>