<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div wicket:id="loadingPopup" />
		<div wicket:id="addPopup" />
		
		<div class="administration user-portfolio liste">
			<div class="page-title">
				<div class="container">
					<div class="pull-right">
						<button wicket:id="exportExcelButton" class="btn btn-default" type="button" wicket:message="title:common.action.export.excel">
							<span class="fa fa-download"></span>
						</button>
						<button wicket:id="addButton" class="btn btn-primary" type="button">
							<span class="fa fa-plus"></span>
							<wicket:message key="common.action.create" />
						</button>
					</div>
					
					<h1 class="page-title-text"><wicket:container wicket:id="title" /></h1>
				</div>
			</div>
			
			<div class="main-content">
				<div class="container">
					<div wicket:id="searchPanel" class="page-lead row with-lead-icon-cropped-top" />
					<div wicket:id="dataTable" />
				</div>
			</div>
		</div>
	</wicket:extend>
</html>