<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<form wicket:id="form" class="form-inline col-sm-8">
		<div class="form-group">
			<label class="sr-only" wicket:for="searchInput"><wicket:label /></label>
			<input wicket:id="searchInput" class="form-control" type="text">
		</div>
		<div class="checkbox">
			<label wicket:for="active">
				<input wicket:id="active" type="checkbox" /> <wicket:label />
			</label>
		</div>
		<button class="btn btn-primary" type="submit">
			<i class="fa fa-filter"></i>
			<wicket:message key="common.apply-filters" />
		</button>
	</form>
	<div class="col-sm-4 further">
		<div wicket:id="userQuickSearch" class="pull-right" />
	</div>
</wicket:panel>
</html>