<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<wicket:container wicket:id="groupMemberships" />

	<wicket:fragment wicket:id="deleteMembership">
		<a class="btn btn-sm btn-danger btn-icon-only"
					wicket:id="deleteLink"
					wicket:message="alt:administration.usergroup.members.delete,title:administration.usergroup.members.delete">
						<i class="fa fa-trash-o" />
		</a>
	</wicket:fragment>
	<wicket:fragment wicket:id="addUser">
		<form wicket:id="addMemberForm" class="pull-right form-inline">
			<span wicket:id="userAutocomplete"></span>
			<a class="btn btn-success btn-sm" wicket:id="addMemberLink">
				<i class="fa fa-plus"></i>
				<wicket:message key="administration.usergroup.members.add" />
			</a>
		</form>
	</wicket:fragment>
</wicket:panel>
</html>