<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="updatePopup"></div>
		<div class="panel-heading">
			<h2 class="panel-title">
				<span class="pull-right btn-group btn-group-xs"> 
					<a wicket:id="updateButton" class="btn btn-primary"> 
						<span class="fa fa-pencil" />
						<span class="hidden-xs hidden-sm">
							<wicket:message key="common.action.update" />
						</span>
					</a>
				</span>
				<wicket:message key="administration.usergroup.information" />
			</h2>
		</div>
		
		<div class="panel-body">
			<div wicket:id="lockedWarningContainer" class="alert alert-warning">
				<span class="fa fa-lock" />
				<wicket:message key="administration.usergroup.warning.locked" />
			</div>
			
			<div class="info-group">
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="administration.usergroup.field.description" />
					</div>
					<div class="info-content" wicket:id="description" />
				</div>
			</div>
			<div class="info-group">
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="administration.usergroup.field.authorities" />
					</div>
					<div class="info-content">
						<div wicket:id="authorities" class="check-item clearfix">
							<span wicket:id="authorityCheck" class="check-icon pull-right" />
							<span wicket:id="authorityName" class="check-label" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>