<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<h2>
			<wicket:message key="administration.usergroup.information" />
			
			<span class="pull-right">
				<button wicket:id="updateUserGroup" class="btn btn-primary" type="button">
					<span class="fa fa-pencil"></span>
					<wicket:message key="common.action.update" />
				</button>
			</span>
		</h2>
		
		<!-- Update user group popup -->
		<div wicket:id="userGroupUpdatePopupPanel"></div>
		
		<div wicket:id="lockedWarningContainer" class="alert alert-warning">
			<span class="fa fa-lock"></span>
			<wicket:message key="administration.usergroup.warning.locked" />
		</div>
		
		<div class="key-value-list container">
			<div class="line row">
				<div class="line-label col-sm-5"><wicket:message key="administration.usergroup.field.description" /></div>
				<div class="line-value col-sm-7" wicket:id="description"></div>
			</div>
			<div class="line row-fluid">
				<div class="line-label col-sm-5"><wicket:message key="administration.usergroup.field.authorities" /></div>
				<div class="line-value col-sm-7">
					<div wicket:id="authorities" class="check-item clearfix">
						<span wicket:id="authorityCheck" class="check-icon pull-right" ></span>
						<span wicket:id="authorityName" class="check-label" ></span>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>