<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="updatePopup"></div>
		<div wicket:id="passwordUpdatePopup"></div>
		
		<h2>
			<wicket:message key="administration.user.profile" />
			<span class="btn-group pull-right">
				<a wicket:id="updateButton" class="btn btn-primary">
					<span class="fa fa-pencil"></span>
					<wicket:message key="common.action.update" />
				</a>
				
				<a wicket:id="passwordUpdateButton" class="btn btn-primary">
					<span class="fa fa-key"></span>
					<wicket:message key="administration.user.password.update" />
				</a>
				
				<a wicket:id="enable" class="btn btn-success">
					<span class="fa fa-check"></span>
					<wicket:message key="administration.user.enable" />
				</a>
				
				<a wicket:id="disable" class="btn btn-danger">
					<span class="fa fa-times"></span>
					<wicket:message key="administration.user.disable" />
				</a>
			</span>
		</h2>
		
		<div class="container-fluid">
			<div class="info-group">
				<div class="info-label"><wicket:message key="business.user.userName" /></div>
				<div class="info-content" wicket:id="userName"></div>
			</div>
			<div class="info-group">
				<div class="info-label"><wicket:message key="business.user.active" /></div>
				<div class="info-content">
					<span wicket:id="active"></span>
				</div>
			</div>
			<div class="info-group">
				<div class="info-label"><wicket:message key="business.user.email" /></div>
				<div class="info-content">
					<a wicket:id="email"></a>
				</div>
			</div>
			<div class="info-group">
				<div class="info-label"><wicket:message key="business.user.creationDate" /></div>
				<div class="info-content" wicket:id="creationDate"></div>
			</div>
			<div class="info-group">
				<div class="info-label"><wicket:message key="business.user.lastUpdateDate" /></div>
				<div class="info-content" wicket:id="lastUpdateDate"></div>
			</div>
			<div class="info-group">
				<div class="info-label"><wicket:message key="business.user.locale" /></div>
				<div class="info-content" wicket:id="locale"></div>
			</div>
			<div class="info-group">
				<div class="info-label"><wicket:message key="business.user.lastLoginDate" /></div>
				<div class="info-content" wicket:id="lastLoginDate"></div>
			</div>
		</div>
	</wicket:panel>
</html>