<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div class="content-bloc">
			<div class="second-title">
				<wicket:message key="administration.usergroup.information" />
				<button wicket:id="updateUserGroupBtn" class="btn btn-primary btn-mini float-right" type="button">
					<span class="icon icon-white icon-pencil"></span>
					<wicket:message key="common.action.update" />
				</button>
				
				<!-- Update user group popup -->
				<div wicket:id="userGroupUpdatePopupPanel"></div>
			</div>
			
			<div wicket:id="lockedWarningContainer" class="alert alert-warning">
				<span class="icon icon-lock" style="padding-left: 10px"></span>
				<wicket:message key="administration.usergroup.warning.locked" />
			</div>
			
			<div class="view-form form-horizontal">
				<div class="control-group">
					<span class="control-label"><wicket:message key="administration.usergroup.field.description" /></span>
					<div class="controls">
						<div class="view-field" wicket:id="description"></div>
					</div>
				</div>
				<div class="control-group">
					<span class="control-label"><wicket:message key="administration.usergroup.field.authorities" /></span>
					<div class="controls check-list">
						<div wicket:id="authorities" class="check-item">
							<span wicket:id="authorityName" class="check-label" ></span>
							<i wicket:id="authorityCheck" class="check-icon" />
							<div class="clear-both"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>