.heading-section {
	color: #777777;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding-bottom: .35rem;
	margin-bottom: .75rem;
	
	&.heading-section-sm {
		margin-bottom: .5rem;
	}
	
	&.heading-section-lg {
		margin-bottom: 1rem;
	}
}
