<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
	<wicket:container wicket:id="serviceInterruptionContainer">
		<p><strong><wicket:container wicket:id="title" /></strong><wicket:enclosure child="description">&nbsp;&middot;&nbsp;<wicket:container wicket:id="description" /></wicket:enclosure></p>
	</wicket:container>
	<wicket:container wicket:id="otherContainer">
		<p><strong><wicket:container wicket:id="title" /></strong></p>
		<wicket:container wicket:id="description" />
	</wicket:container>
</wicket:panel>
</body>
</html>