.table {
	> thead, > tbody, > tfoot {
		> tr {
			> th, > td {
				&.text {
					width: 300px;
					min-width: 150px;
				}
				&.short-text {
					width: 150px;
				}
				&.date {
					width: 100px;
				}
				&.datetime {
					width: 120px;
					text-align: center;
				}
				&.user {
					width: 450px;
				}
				&.icon {
					width: 20px;
				}
				&.actions {
					width: 30px;
					min-width: 30px;
					max-width: 30px;
					
					&.actions-2x {
						width: 60px;
						min-width: 60px;
						max-width: 60px;
					}
					
					&.actions-3x {
						width: 80px;
						min-width: 80px;
						max-width: 80px;
					}
				}
			}
			> td {
				&.icon, &.date, &.datetime, &.actions {
					text-align: center;
				}
			}
		}
	}
}