<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="editPopup" />
		
		<div class="card card-page">
			<div class="card-header">
				<h2 class="card-header-title"><wicket:message key="administration.user.detail.description" /></h2>
			</div>
			<div class="card-body">
				<div class="row row-sm">
					<div class="col-12">
						<h3 class="heading-section">
							<wicket:message key="administration.user.detail.description.information" />
						</h3>
						
						<div class="row row-description">
							<div class="col-12">
								<div class="row row-description-group description-group">
									<div class="col-md-4">
										<div class="description-label">
											<wicket:message key="business.user.username" />
										</div>
									</div>
									<div class="col-md-8">
										<div class="description-value">
											<span wicket:id="username" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row row-description-group description-group">
									<div class="col-md-4">
										<div class="description-label">
											<wicket:message key="business.user.active" />
										</div>
									</div>
									<div class="col-md-8">
										<div class="description-value">
											<span wicket:id="active" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row row-description-group description-group">
									<div class="col-md-4">
										<div class="description-label">
											<wicket:message key="business.user.email" />
										</div>
									</div>
									<div class="col-md-8">
										<div class="description-value">
											<a wicket:id="email" />
											<wicket:container wicket:id="emailPlaceholder" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row row-description-group description-group">
									<div class="col-md-4">
										<div class="description-label">
											<wicket:message key="business.user.locale" />
										</div>
									</div>
									<div class="col-md-8">
										<div class="description-value">
											<span wicket:id="locale" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<h3 class="heading-section">
							<wicket:message key="administration.user.detail.description.tracking" />
						</h3>
						
						<div class="row row-description">
							<div class="col-12">
								<div class="row row-description-group description-group">
									<div class="col-md-4">
										<div class="description-label">
											<wicket:message key="business.user.creationDate" />
										</div>
									</div>
									<div class="col-md-8">
										<div class="description-value">
											<span wicket:id="creationDate" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row row-description-group description-group">
									<div class="col-md-4">
										<div class="description-label">
											<wicket:message key="business.user.lastUpdateDate" />
										</div>
									</div>
									<div class="col-md-8">
										<div class="description-value">
											<span wicket:id="lastUpdateDate" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row row-description-group description-group">
									<div class="col-md-4">
										<div class="description-label">
											<wicket:message key="business.user.lastLoginDate" />
										</div>
									</div>
									<div class="col-md-8">
										<div class="description-value">
											<span wicket:id="lastLoginDate" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div wicket:id="actionsContainer" class="card-action">
					<div class="row row-action justify-content-end">
						<div wicket:enclosure-component="edit" class="col-auto">
							<button wicket:id="edit" class="btn btn-primary" type="button">
								<span class="fa fa-fw fa-pencil-alt" />
								<wicket:message key="common.action.edit" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>