<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="results" class="card card-page" />
	
	<wicket:fragment wicket:id="addGroup">
		<form wicket:id="form">
			<div class="row row-form align-items-center">
				<div class="form-group  col-sm-6">
					<select wicket:id="userGroup" class="form-control" />
				</div>
				<div class="col-auto">
					<button wicket:id="submit" class="btn btn-success" type="button">
						<span class="fa fa-fw fa-plus" />
						<wicket:message key="common.action.add" />
					</button>
				</div>
			</div>
		</form>
	</wicket:fragment>
</wicket:panel>
</html>