<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="updatePopup"/>
		
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><wicket:message key="administration.usergroup.information" /></h5>
				
				<div wicket:id="lockedWarningContainer" class="alert alert-warning">
					<span class="fa fa-lock" />
					<wicket:message key="administration.usergroup.warning.locked" />
				</div>
				
				<div class="description-section">
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="administration.usergroup.field.description" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<div wicket:id="description" />
								</div>
							</div>
						</div>
					</div>
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="administration.usergroup.field.authorities" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<ul class="list-unstyled">
										<li wicket:id="authorities" class="media">
											<span wicket:id="authorityCheck" class="mr-3" />
											<div class="media-body">
												<span wicket:id="authorityName" />
											</div>
										</li>
									</ul>
							</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card-action">
					<div class="d-flex flex-wrap flex-g-1">
						<div class="flex-item">
							<button type="button" wicket:id="updateButton" class="btn btn-primary"> 
								<span class="fa fa-pencil-alt" />
								<wicket:message key="common.action.update" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>