<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="updatePopup" />
		<div wicket:id="passwordUpdatePopup" />
		
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"><wicket:message key="administration.user.profile" /></h5>
				
				<div class="description-section">
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="business.user.userName" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<span wicket:id="userName" />
								</div>
							</div>
						</div>
					</div>
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="business.user.active" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<span wicket:id="active" />
								</div>
							</div>
						</div>
					</div>
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="business.user.email" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<a wicket:id="email"></a>
									<wicket:container wicket:id="emailPlaceholder" />
								</div>
							</div>
						</div>
					</div>
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="business.user.locale" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<span wicket:id="locale" />
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="description-section">
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="business.user.creationDate" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<span wicket:id="creationDate" />
								</div>
							</div>
						</div>
					</div>
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="business.user.lastUpdateDate" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<span wicket:id="lastUpdateDate" />
								</div>
							</div>
						</div>
					</div>
					<div class="description-group">
						<div class="description-row">
							<div class="description-label-col">
								<div class="description-label">
									<wicket:message key="business.user.lastLoginDate" />
								</div>
							</div>
							<div class="description-value-col">
								<div class="description-value">
									<span wicket:id="lastLoginDate" />
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card-action">
					<div class="basic-container">
						<div wicket:enclosure="updateButton" class="basic-item">
							<button type="button" wicket:id="updateButton" class="btn btn-primary btn-sm"> 
								<span class="fa fa-pencil-alt" /> 
								<wicket:message key="common.action.update" />
							</button>
						</div>
						<div wicket:enclosure="passwordUpdateButton" class="basic-item">
							<button type="button" wicket:id="passwordUpdateButton" class="btn btn-primary btn-sm">
								<span class="fa fa-key" /> 
								<wicket:message key="administration.user.password.update" />
							</button>
						</div>
						<div wicket:enclosure="passwordReset" class="basic-item">
							<button type="button" wicket:id="passwordReset" class="btn btn-primary btn-sm"> 
								<span class="fa fa-unlock-alt" />
								<wicket:message key="administration.user.password.recovery.reset" />
							</button>
						</div>
						<div wicket:enclosure="enable" class="basic-item">
							<button type="button" wicket:id="enable" class="btn btn-success btn-sm"> 
								<span class="fa fa-check" />>
								<wicket:message key="administration.user.enable" />
							</button>
						</div>
						<div wicket:enclosure="disable" class="basic-item">
							<button type="button" wicket:id="disable" class="btn btn-danger btn-sm"> 
								<span class="fa fa-times" />
								<wicket:message key="administration.user.disable" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</wicket:panel>
</html>