<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="userMemberships" class="card" />
	
	<wicket:fragment wicket:id="addGroup">
		<form wicket:id="addGroupForm" class="pull-right form-inline">
			<div class="form-group">
				<span wicket:id="userGroupAutocomplete" />
			</div>
			<a class="btn btn-success btn-sm" wicket:id="addGroupLink"> 
				<i class="fa fa-plus" /> 
				<wicket:message key="administration.usergroup.members.add" />
			</a>
		</form>
	</wicket:fragment>
</wicket:panel>
</html>