<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div wicket:id="userMemberships" class="card" />
	
	<wicket:fragment wicket:id="addGroup">
		<form wicket:id="addGroupForm">
			<div class="basic-container">
				<div class="basic-item">
					<span wicket:id="userGroupAutocomplete" />
				</div>
				<div class="basic-item">
					<button class="btn btn-success" wicket:id="addGroupLink" type="button"> 
						<span class="fa fa-plus" /> 
						<wicket:message key="administration.usergroup.members.add" />
					</button>
				</div>
			</div>
		</form>
	</wicket:fragment>
</wicket:panel>
</html>