<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" wicket:id="htmlRootElement">
	<head>
		<title wicket:id="headPageTitle"></title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<wicket:header-items/>
	</head>
	
	<body wicket:id="bodyContainer" class="application-access-page">
		<div class="page-container">
			<div wicket:id="feedback" data-placement="bottom"></div>
			
			<div class="container">
				<div class="card">
					<div class="card-img-top">
						<img src="static/application/images/logo.png" alt="Basic Application" width="114" height="55" />
					</div>
					<div class="card-header card-main-title" wicket:id="title" />
					<div wicket:id="environment" class="card-header card-header-alert-section card-header-alert-dismissible environment-section" />
					<div wicket:id="content" />
					<wicket:child/>
					<div class="card-footer" wicket:id="footer" />
				</div>
			</div>
		</div>
	</body>
</html>	