<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" wicket:id="htmlRootElement">
	<head>
		<title wicket:id="headPageTitle"></title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		
		<wicket:header-items/>
	</head>
	
	<body class="application-access-page">
		<div class="page-container">
			<div wicket:id="feedback" data-placement="bottom"></div>
			
			<div class="container">
				<div class="row content">
					<div class="application-access-header">
						<img class="logo" src="static/application/images/logo_openwide.png" alt="Company logo" width="210" height="66" />
					</div>
					<h1 class="application-access-title" wicket:id="title" />
					
					<wicket:container wicket:id="environment" />
					
					<div class="application-access-intro" wicket:id="intro" />
					
					<div class="application-access-content" wicket:id="content" />
					
					<wicket:child/>
				</div>
				<div class="application-access-footer" wicket:id="footer" />
			</div>
		</div>
	</body>
</html>	