<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" wicket:id="htmlRootElement">
	<head>
		<title wicket:id="headPageTitle"></title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="manifest.json">
		<link rel="mask-icon" href="safari-pinned-tab.svg" color="#1b0fa4">
		<meta name="theme-color" content="#1b0fa4">
		
		<wicket:header-items/>
	</head>
	<body wicket:id="bodyContainer" class="navigation-expand-lg">
		<div wicket:id="animatedGlobalFeedbackPanel" data-placement="bottom"></div>
		
		<header class="header-container">
			<div wicket:id="environment" class="header-alert-section header-alert-dismissible environment-section" />
			
			<div wicket:id="generalMessage" class="header-alert-section header-alert-dismissible general-message-section" />
			
			<nav wicket:id="navbar" class="navbar navbar-main" />
		</header>
		
		<main class="main-container">
			<div wicket:id="sidenav" class="sidebar-wrapper" />
			
			<div class="main-content-wrapper">
				<div class="main-content-container">
					<wicket:child />
				</div>
			</div>
		</main>
	</body>
</html>