<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" wicket:id="htmlElement">
	<head>
		<title wicket:id="headPageTitle" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="Basic Application">
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1b0fa4">
		<meta name="msapplication-TileColor" content="#1b0fa4">
		<meta name="theme-color" content="#1b0fa4">
		
		<wicket:header-items />
	</head>
	<body wicket:id="bodyElement">
		<aside wicket:id="sidebar" class="sidebar" />
		
		<div class="body-container">
			<header class="header-section">
				<nav wicket:id="navbar" class="navbar navbar-app navbar-main navbar-expand-md" />
			</header>
			
			<main class="main-section">
				<div wicket:enclosure-component="announcements" class="main-header">
					<div wicket:id="announcements" class="header-alert-section header-alert-dismissible announcements-section" />
				</div>
				<div class="main-body">
					<wicket:child />
				</div>
			</main>
		</div>
		
		<div wicket:id="feedback" data-placement="bottom" />
		
		<div wicket:id="bsBreakpoint" class="bs-breakpoint" />
	</body>
</html>
