<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<ul class="breadcrumb">
			<wicket:container wicket:id="breadCrumbElementListView">
				<li><span wicket:id="divider" class="divider">/</span><wicket:container wicket:id="breadCrumbElement" /></li>
			</wicket:container>
			<wicket:container wicket:id="trailingLi">
				<li></li>
			</wicket:container>
		</ul>
	</wicket:panel>
</body>
</html>