<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="navbar-header">
		<button class="navbar-toggler" type="button">
			<span class="navbar-toggler-icon" />
		</button>
		
		<a class="navbar-brand" wicket:id="home"><wicket:message key="common.rootPageTitle" /></a>
	</div>
	<div class="navbar-body collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item" wicket:id="profileLinkNavItem">
				<a wicket:id="profileLink" class="nav-link" wicket:message="title:common.profile.tooltip">
					<span class="fa fa-fw fa-user-circle" />
					<wicket:container wicket:id="userFullName" />
				</a>
			</li>
			<li class="nav-item">
				<a wicket:id="logout" class="btn btn-danger" >
					<span class="fa fa-fw fa-power-off" /> <wicket:message key="common.logout"/>
				</a>
			</li>
		</ul>
	</div>
</wicket:panel>
</html>
