<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="sidebar-section-title"><wicket:message key="sidebar.menu.title" /></div>
	
	<nav wicket:id="sidenavContainer" class="sidenav-container">
		<ul class="sidenav">
			<li wicket:id="sidenavItems" class="sidenav-item">
				<a wicket:id="navLink" class="sidenav-link">
					<span class="sidenav-icon" wicket:id="icon" />
					<span class="sidenav-label" wicket:id="label" />
					<span class="fa fa-fw fa-angle-down fa-fw sidenav-label-sub-open-icon" />
					<span class="fa fa-fw fa-angle-left fa-fw sidenav-label-sub-close-icon" />
				</a>
				<div wicket:id="sidenavSubContainer">
					<ul class="sidenav-sub">
						<li wicket:id="sidenavSubItems" class="sidenav-item">
							<a wicket:id="navLink" class="sidenav-link">
								<span class="sidenav-sub-icon">•</span>
								<span class="sidenav-label" wicket:id="label" />
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
	
	<div class="sidebar-divider" />
</wicket:panel>
</html>
