<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="sidebar-container">
		<nav wicket:id="navbar" class="navbar navbar-sidebar navbar-main" />
		<div wicket:id="environment" class="header-alert-section header-alert-dismissible environment-section" />
		<div class="sidebar-body-scrollable beautiful-scrollbar">
			<div class="sidebar-body">
				<div class="sidebar-body-content">
					<div wicket:id="header" class="sidebar-section" />
					<div wicket:id="user" class="sidebar-section" />
					<div wicket:id="quickSearch" class="sidebar-section" />
					<div wicket:id="menu" class="sidebar-section" />
					<div class="sidebar-section">
						<div wicket:enclosure-component="changeTheme" class="sidebar-section-content">
							<button wicket:id="changeTheme" class="btn btn-warning btn-sm" type="button">
								<span class="fa fa-fw fa-drafting-compass" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div wicket:id="footer" class="sidebar-footer" />
	</div>
</wicket:panel>
</html>
