<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="sidebar-container">
		<nav wicket:id="navbar" class="navbar navbar-sidebar navbar-expand navbar-main" />
		<div class="sidebar-body-scrollable beautiful-scroll">
			<div class="sidebar-body">
				<div class="sidebar-body-content">
					<div wicket:id="header" class="sidebar-section" />
					<div wicket:id="user" class="sidebar-section" />
					<div wicket:id="quickSearch" class="sidebar-section" />
					<div wicket:id="menu" class="sidebar-section" />
					<div class="sidebar-section">
						<div class="sidebar-section-content">
							<button wicket:id="changeTheme" class="btn btn-warning btn-sm" type="button">
								<span class="fa fa-fw fa-drafting-compass" />
							</button>
						</div>
						<div class="sidebar-section-content">
							<blockquote class="blockquote text-justify" style="font-size: 0.85rem;">
								<p class="mb-0">Concevoir des logiciels sur mesure est un métier passionnant et complexe qui mérite une attention toute particulière.</p>
								<footer class="blockquote-footer" style="font-size: inherit;"><cite>Kobalt</cite></footer>
							</blockquote>
							<div class="text-center">
								<a href="https://www.kobalt.fr" class="text-center text-decoration-none">
									<span class="fa fa-fw fa-home" /> kobalt.fr
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div wicket:id="footer" class="sidebar-footer" />
	</div>
</wicket:panel>
</html>
