/*
 * CAUTION: this stylesheet is intended for integration to an e-mail notification through the use of
 *          IHtmlNotificationCssService. This service only offers PARTIAL support of the CSS syntax.
 *          Please only use simple CSS selectors, such as 'a.btn#theonebutton'. In particular, combinators
 *          such as ' ', '>', '+' are NOT supported. Pseudo-classes and pseudo-elements (:first-child, ::after)
 *          are not supported either.
 */

.container {
	width: 550px;
	margin: 20px auto;
	border: 1px solid #CCCCCC;
	border-radius: $border-radius;
}

.main-title {
	margin: 0;
	padding: 15px;
	background: $primary;
	color: $white;
	border-bottom: 1px solid darken($primary, 5%);
	border-radius: $border-radius $border-radius 0 0;
}

.title {
	margin: 0;
	padding: 10px 15px;
	background: #EEEEEE;
	color: #666;
	border-bottom: 1px solid #CCCCCC;
}

.content {
	padding: 15px;
	background: $white;
	min-height: 120px;
}

.main-link-container {
	text-align: center;
	margin-top: 5px;
}

.footer {
	padding: 10px 15px;
	background-color: $secondary;
	border-top: 1px solid #CCCCCC;
	border-radius: 0 0 $border-radius $border-radius;
}

.intro {
	margin-top: 0;
	@extend .alert;
	@extend .alert-info;
}

.help {
	color: #6c757d;
}
