/*
 * CAUTION: this stylesheet is intended for integration to an e-mail notification through the use of
 *          IHtmlNotificationCssService. This service only offers PARTIAL support of the CSS syntax.
 *          Please only use simple CSS selectors, such as 'a.btn#theonebutton'. In particular, combinators
 *          such as ' ', '>', '+' are NOT supported. Pseudo-classes and pseudo-elements (:first-child, ::after)
 *          are not supported either.
 */

.container {
	width: 550px;
	margin: 15px auto;
}

.card {
	min-width: 0;
	height: $card-height;
	word-wrap: break-word;
	background-color: #FFFFFF;
	border: $card-border-width solid #DFDFDF;
}

.card-header {
	padding: $card-spacer-y $card-spacer-x;
	margin-bottom: 0;
	color: $card-cap-color;
	background-color: #F7F7F7;
	border-bottom: $card-border-width solid #D8D8D8;
	
	&.card-header-main {
		padding: add($card-spacer-y, .25rem);
		background-color: #007BFF;
		border-bottom: $card-border-width solid #006CDF;
		color: color-yiq($primary);
	}
}

.card-body {
	padding: $card-spacer-x;
	color: $card-color;
	min-height: 120px;
}

.card-footer {
	padding: $card-spacer-y $card-spacer-x;
	color: $card-cap-color;
	background-color: #F7F7F7;
	border-top: $card-border-width solid #D8D8D8;
}
