.environment-section {
	padding: .5rem;
	
	@extend .bg-warning;
	@extend .text-dark;
	
	&.production {
		@extend .bg-danger;
		@extend .text-white;
	}
	
	> .environment-container {
		@extend .container;
	}
}

.page-section {
	> .page-container {
		@extend .container;
		padding-top: 1rem;
		padding-bottom: 1rem;
		min-height: 450px;
		
		> .page-content {
			> .page-header {
				margin-bottom: 1.25rem;
				
				> .page-header-title {
					margin: 0;
				}
				
				> .page-header-action {
					margin-top: 1rem;
					
					&:first-child {
						margin-top: 0;
					}
					
					> .page-header-action-container {
						@extend .basic-container;
						@extend .basic-container-right;
						
						> .page-header-action-item {
							@extend .basic-item;
						}
					}
				}
			}
			
			> .page-body {
				> .page-search {
					margin-bottom: 1.25rem;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.footer-section {
	margin-bottom: 1rem;
	
	> .footer-container {
		@extend .container;
		padding-top: 1rem;
		padding-bottom: 1rem;
		
		.footer {
			background-color: $gray-200;
			
			padding: 1rem;
			
			.footer-info {
				@extend .text-right;
			}
		}
	}
}

.basic-container {
	@extend .d-flex;
	@extend .flex-wrap;
	@extend .flex-g-1;
	
	&.basic-container-right {
		@extend .justify-content-end;
	}
	
	> .basic-item {
		@extend .flex-item;
	}
}

.scroll-to-top {
	opacity: 0;
	display: none;
	position: fixed;
	left: 10px;
	bottom: 10px;
	color: $white;
	background-color: $primary;
	border-radius: .2rem;
	z-index: $zindex-scroll-to-top;
	cursor: pointer;
	padding: .5rem;
	
	@include media-breakpoint-down(xs) {
		display: none !important;
	}
}