html {
	font-size: $font-size-root;
}

.header-alert-section {
	@extend .bg-light;
	@extend .text-dark;
	
	border-bottom: 1px solid rgba($black, .125);
	
	> .header-alert-main {
		height: 100%;
		
		> .header-alert-container {
			@extend .container;
			
			> .header-alert-content {
				position: relative;
				padding: $alert-padding-y 0;
			}
		}
	}
	
	&.header-alert-dismissible {
		cursor: pointer;
		
		> .header-alert-main {
			> .header-alert-container {
				> .header-alert-content {
					padding-right: ($close-font-size + $alert-padding-x * 2);
					
					.close {
						position: absolute;
						top: 0;
						right: 0;
						padding: $alert-padding-y $alert-padding-x;
						color: inherit;
					}
				}
			}
		}
		
		&:hover {
			.close {
				color: $close-color;
				text-decoration: none;
				opacity: .75;
			}
		}
	}
	
	&.environment-section {
		@extend .bg-warning;
		@extend .text-dark;
		
		&.environment-section-dismissed {
			height: 8px;
		}
		
		&.production {
			@extend .bg-danger;
			@extend .text-white;
		}
	}
}

.page-section {
	> .page-container {
		@extend .container;
		padding-top: 1rem;
		padding-bottom: 1rem;
		min-height: 650px;
		
		> .page-content {
			> .page-header {
				margin-bottom: 1.25rem;
				
				> .page-header-title {
					margin: 0;
				}
				
				> .page-header-action {
					margin-top: 1rem;
					
					&:first-child {
						margin-top: 0;
					}
					
					> .page-header-action-container {
						@extend .basic-container;
						@extend .basic-container-right;
						
						> .page-header-action-item {
							@extend .basic-item;
						}
					}
				}
			}
			
			> .page-body {
				> .page-search {
					margin-bottom: 1.25rem;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.footer-section {
	margin-bottom: 1rem;
	
	> .footer-container {
		@extend .container;
		padding-top: 1rem;
		padding-bottom: 1rem;
		
		.footer {
			background-color: $gray-200;
			border: 1px solid $gray-300;
			
			padding: 1rem;
			
			.footer-info {
				@extend .text-right;
			}
		}
	}
}

.basic-container {
	@extend .d-flex;
	@extend .flex-wrap;
	@extend .flex-g-1;
	
	&.basic-container-right {
		@extend .justify-content-end;
	}
	
	> .basic-item {
		@extend .flex-item;
	}
}

.scroll-to-top {
	opacity: 0;
	display: none;
	position: fixed;
	left: 10px;
	bottom: 10px;
	color: $white;
	background-color: $primary;
	border-radius: .2rem;
	z-index: $zindex-scroll-to-top;
	cursor: pointer;
	padding: .5rem;
	
	@include media-breakpoint-down(xs) {
		display: none !important;
	}
}