.btn {
	&:hover {
		box-shadow: $btn-hover-box-shadow;
		
		&:disabled,
		&.disabled,
		&.btn-link,
		&.btn-sort {
			box-shadow: none;
		}
	}
	
	&:focus {
		box-shadow: $btn-focus-box-shadow;
		
		&:disabled,
		&.disabled,
		&.btn-link,
		&.btn-sort {
			box-shadow: none;
		}
	}
}

@each $color, $value in $theme-colors {
	.btn-#{$color} {
		&:hover {
			color: color-yiq($value);
			@include gradient-bg($value);
			border-color: $value;
			
			@if $enable-shadows {
				box-shadow: $btn-box-shadow, $btn-hover-box-shadow;
			} @else {
				box-shadow: $btn-focus-box-shadow;
			}
		}
		
		&:focus,
		&.focus {
			@if $enable-shadows {
				box-shadow: $btn-box-shadow, $btn-focus-box-shadow;
			} @else {
				box-shadow: $btn-focus-box-shadow;
			}
		}
		
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active,
		.show > &.dropdown-toggle {
			&:focus {
				@if $enable-shadows {
					box-shadow: $btn-active-box-shadow, $btn-focus-box-shadow;
				} @else {
					box-shadow: $btn-focus-box-shadow;
				}
			}
		}
	}
}

@each $color, $value in $theme-colors {
	.btn-outline-#{$color} {
		&:hover {
			color: $value;
			background-color: transparent;
			border-color: $value;
			
			@if $enable-shadows {
				box-shadow: $btn-box-shadow, $btn-hover-box-shadow;
			} @else {
				box-shadow: $btn-focus-box-shadow;
			}
		}
		
		&:focus,
		&.focus {
			@if $enable-shadows {
				box-shadow: $btn-box-shadow, $btn-focus-box-shadow;
			} @else {
				box-shadow: $btn-focus-box-shadow;
			}
		}
		
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active,
		.show > &.dropdown-toggle {
			&:focus {
				@if $enable-shadows and $btn-active-box-shadow != none {
					box-shadow: $btn-active-box-shadow, $btn-focus-box-shadow;
				} @else {
					box-shadow: $btn-focus-box-shadow;
				}
			}
		}
	}
}

.custom-control-input {
	@include transition($input-transition);
	
	&:focus ~ .custom-control-label::before {
		border: $input-border-width solid $input-focus-border-color;
	}
}

.dropdown-menu {
	box-shadow: $dropdown-box-shadow;
}

.page-link {
	&:hover {
		box-shadow: $pagination-hover-box-shadow;
		z-index: 2;
	}
	
	&:focus {
		box-shadow: $pagination-focus-box-shadow;
		z-index: 2;
	}
}

.page-item {
	&.disabled .page-link {
		@include hover-focus {
			box-shadow: none;
		}
	}
}

