html {
	height: 100%;
	font-size: $font-size-root;
}

body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: $gray-100;
}

.application-access {
	.container-page {
		.card {
			border-top: 0;
			border-left: 0;
			border-right: 0;
			
			.card-img-top {
				padding: $card-spacer-y $card-spacer-x;
			}
			
			.card-header {
				&.card-main-title {
					@include bg($brand-color);
					font-size: $h4-font-size;
				}
			}
		}
	}
}

@include media-breakpoint-up(breakpoint-next(xs)) {
	.application-access {
		> .body-container {
			> .main-section {
				margin: 60px 0;
			}
		}
		
		.container-page {
			@include make-container();
			
			max-width: $container-page-md;
			
			.card {
				border: 0;
				box-shadow: $shadow-md;
				
				&.card-main-title-cascade {
					margin: 0 10px;
					
					.card-header {
						&.card-main-title {
							margin: 0 -10px;
							border-radius: .15rem;
							box-shadow: $shadow-md;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
	.application-access {
		&.application-access-lg {
			.container-page {
				max-width: $container-page-lg;
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.application-access {
		.container-page {
			.card {
				border-radius: 0;
				
				[class*="card-"] {
					border-radius: 0;
				}
			}
		}
	}
}
