.alert-global-panel {
	padding: 20px;
	
	top: -40px;
	bottom: auto;
	
	background: fade(#434343, 80%);
	
	.alert {
		padding: 15px 42px 15px 42px;
		
		.icon-alert-type {
			font-size: 15px;
			position: absolute;
			top: 16px;
			left: 16px;
		}
		
		&:first-of-type {
			.border-top-radius(@border-radius-base);
		}
		
		&:last-of-type {
			.border-bottom-radius(@border-radius-base);
		}
	}
	
	.close {
		padding: 8px;
		top: 25px;
		right: 30px;
	}
	
	@media (min-width: @screen-sm-min) {
		width: 50%;
		.border-top-right-radius(@border-radius-base);
	}
}

.animated-global-feedback[data-placement="bottom"] .alert-global-panel {
	top: auto;
	bottom: -40px;
}