.userList {
	.filter-outer {
		padding: 5px 0;
		border-bottom: 1px solid #CCCCCC;
		
		label {
			min-width: 50px;
		}
	}
	
	.user {
		padding: 5px;
		border-bottom: 1px solid #CCCCCC;
		
		.nom {
			font-size: 1.1em;
			color: #666;
			font-weight: bold;
			margin-bottom: 10px;
			
			.user-name {
				color: #AAA;
			}
		}
		
		img.active {
			vertical-align: bottom;
		}
	}
	
	.filter-empty-message {
		margin-top: 20px;
		padding: 15px;
		background-color: #FCF8E3;
		border: 1px solid #FBEED5;
		.border-radius(4px);
		color: #C09853;
	}
}