/* .main is needed to override in score default fancybox styles */
.main #fancybox-close {
	position: absolute;
	/* position exactly inside popup box */
	right: 10px;
	top: 10px;
	.border-radius(2px);
	
	background-color: #aaa;
	background-image: url("@{staticImageUrl}/fancybox/navigation-close.png");
	background-position: -3px -3px;
	height: 19px;
	width: 19px;
	
	&:hover {
		background-color: darken(#aaa, 10%);
	}
}

.confirm-box {
	width: 500px;
}

.popup-title {
	.title; /* from typography.css */
}

.popup-title.draggable-handle {
	cursor: move;
}