/* Tipsy */

.tipsy {
	position: absolute;
	padding: 5px;
	font-size: 10px;
	.opacity(80);
	background-repeat: no-repeat;
	background-image: url("@{staticRootUrl}/application/images/tipsy.gif");
	z-index:1200;
}

.tipsy-inner {
	padding: 5px 8px 4px 8px;
	background-color: #000000;
	color: white;
	max-width: 200px;
	text-align: center;
}

.tipsy-inner {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tipsy-inner a {
	text-decoration: none;
	color: white;
	border-bottom: 1px dotted white;
}

.tipsy-n {
	background-position: top center;
}

.tipsy-s {
	background-position: bottom center;
}

.tipsy-e {
	background-position: right center;
}

.tipsy-w {
	background-position: left center;
}