.title {
	border-bottom: 1px solid #BBBBBB;
	color: #AAAAAA;
	font-size: 1.3em;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

.subtitle {
	.border-radius(3px);
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	color: #888888;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 4px;
	padding: 6px;
}