.environment-section {
	@extend .bg-warning;
	padding: .5rem;
	
	> .environment-container {
		@extend .container;
	}
}

.page-section {
	> .page-container {
		@extend .container;
		margin-top: 1rem;
		min-height: 450px;
		
		> .page-content {
			> .page-header {
				margin-bottom: 1rem;
			}
		}
	}
}

.footer-section {
	> .footer-container {
		@extend .container;
		margin-top: 1rem;
		margin-bottom: 1rem;
		
		.footer {
			@extend .bg-light;
			
			padding: 1rem;
			
			.footer-info {
				@extend .text-right;
			}
		}
	}
}

.basic-container {
	@extend .d-flex;
	@extend .flex-wrap;
	@extend .flex-g-1;
	
	&.basic-container-right {
		@extend .justify-content-end;
	}
	
	.basic-item {
		@extend .flex-item;
	}
}

.scroll-to-top {
	opacity: 0;
	display: none;
	position: fixed;
	left: 10px;
	bottom: 10px;
	color: $white;
	background-color: $primary;
	border-radius: .2rem;
	z-index: $zindex-scroll-to-top;
	cursor: pointer;
	padding: .5rem;
	
	@include media-breakpoint-down(xs) {
		display: none !important;
	}
}