$static-root-url:										"../../../static" !default;

$environment-colors: (
	"development":		$success,
	"integration":		$dark,
	"qualification":	$info,
	"preproduction":	$warning,
	"production":		$danger
) !default;
