<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<form wicket:id="form">
			<span class="btn btn-success fileinput-button">
				<i class="fa fa-icon fa-plus"></i>
				<span><wicket:message key="widgets.fileupload.addFiles" /></span>
				<input wicket:id="fileUpload" type="file" multiple />
			</span>
		</form>
		<div style="margin: 15px 0;">
			<div class="progress" wicket:id="progress">
				<div class="progress-bar bar" style="width: 0%;"></div>
			</div>
		</div>
		<div class="alert alert-info" wicket:id="fileListContainer">
			<div>
				<wicket:message key="widgets.fileupload.toUploadFiles" />
			</div>
			<div wicket:id="fileList">
				<span wicket:id="name">name</span>
				<wicket:enclosure child="type"> - <span wicket:id="type">mimetype/type</span></wicket:enclosure>
				<wicket:enclosure child="size"> <span wicket:id="size">xxxxx</span></wicket:enclosure>
				<a wicket:id="link"><span class="fa fa-icon fa-share-square-o" /></a>
			</div>
		</div>
	</wicket:panel>
</html>