<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="resultats" class="panel panel-default" />
		<wicket:child/>
		
		<wicket:fragment wicket:id="itemActionsFragment">
			<a wicket:id="updateButton" class="btn btn-primary btn-xs" wicket:message="title:common.action.update">
				<span class="fa fa-pencil"></span>
			</a>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="globalActionsFragment">
			<span class="btn-group btn-group-xs pull-right">
				<a wicket:id="addButton" class="btn btn-primary" wicket:message="title:common.action.create">
					<span class="fa fa-plus"></span>
				</a>
			</span>
		</wicket:fragment>
	</wicket:panel>
</html>