<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div wicket:id="popup" />
		
		<wicket:fragment wicket:id="searchFragment">
			<form wicket:id="searchForm">
				<div class="row">
					<div class="col-sm-3">
						<label class="sr-only" wicket:for="label"><wicket:label /></label>
						<input wicket:id="label" class="form-control input-sm" type="text" />
					</div>
					<div class="col-sm-3">
						<label class="sr-only" wicket:for="enabledFilter"><wicket:label /></label>
						<select class="form-control input-sm" wicket:id="enabledFilter" />
					</div>
				</div>
			</form>
		</wicket:fragment>
	</wicket:extend>
</html>