<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="passwordUpdatePopup"></div>
		<div class="panel-heading">
			<h2 class="panel-title">
				<span class="btn-group btn-group-xs pull-right">
					<a wicket:id="passwordUpdateButton" class="btn btn-primary ">
						<span class="fa fa-key"></span>
						<span class="hidden-xs hidden-sm"><wicket:message key="profile.password.update" /></span>
					</a>
				</span>
				<wicket:message key="profile.information" />
			</h2>
		</div>
		<div class="panel-body">
			<div class="info-group">
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="business.user.userName" />
					</div>
					<div class="info-content" wicket:id="userName" />
				</div>
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="business.user.active" />
					</div>
					<div class="info-content">
						<span wicket:id="active"></span>
					</div>
				</div>
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="business.user.email" />
					</div>
					<div class="info-content">
						<a wicket:id="email"></a>
						<wicket:container wicket:id="emailPlaceholder" />
					</div>
				</div>
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="business.user.locale" />
					</div>
					<div class="info-content" wicket:id="locale" />
				</div>
			</div>
			<div class="info-group">
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="business.user.creationDate" />
					</div>
					<div class="info-content" wicket:id="creationDate" />
				</div>
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="business.user.lastUpdateDate" />
					</div>
					<div class="info-content" wicket:id="lastUpdateDate" />
				</div>
				
				<div class="info-pair">
					<div class="info-label">
						<wicket:message key="business.user.lastLoginDate" />
					</div>
					<div class="info-content" wicket:id="lastLoginDate" />
				</div>
			</div>
		</div>
	</wicket:panel>
</html>