<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="row g-2 align-items-center justify-content-end">
		<div class="col-auto">
			<button wicket:id="cancel" class="btn btn-outline-secondary" type="button">
				<wicket:message key="common.cancel" />
			</button>
		</div>
		<div class="col-auto">
			<button wicket:id="save" class="btn btn-success" type="button">
				<span class="fa fa-fw fa-check" />
				<wicket:message key="common.action.validate" />
			</button>
		</div>
	</div>
</wicket:panel>
</html>