<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="card card-main">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<div class="row row-form">
						<div class="col-12">
							<div class="row row-form-group form-group">
								<div class="col-md-4">
									<label wicket:for="title" class="col-form-label form-label" ><wicket:label /></label>
								</div>
								<div class="col-md-8">
									<input wicket:id="title" class="form-control" type="text" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>