<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div class="card-body">
			<form wicket:id="form">
				<div class="row row-form">
					<div class="col-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><span class="fa fa-fw fa-user" /></span>
								</div>
								<input class="form-control form-control-username" wicket:id="username" type="text" id="username" />
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><span class="fa fa-fw fa-lock" /></span>
								</div>
								<input class="form-control form-control-password" wicket:id="password" type="password" id="password" />
							</div>
						</div>
					</div>
				</div>
				
				<div class="card-action">
					<div class="row row-action justify-content-end">
						<div class="col-auto">
							<button class="btn btn-success" type="submit">
								<span class="fa fa-fw fa-sign-in-alt" />
								<wicket:message key="signIn.action.signIn" />
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<script type="text/javascript">
			var usernameField = document.getElementById('username');
			if (usernameField.value == "") {
				usernameField.focus();
			} else {
				var passwordField = document.getElementById('password');
				if (passwordField.value == "") {
					passwordField.focus();
				}
			}
		</script>
	</wicket:panel>
</html>