<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="row g-2 justify-content-end flex-wrap-reverse">
		<div wicket:enclosure-component="passwordRecoveryRequestCreation" class="col-auto">
			<a wicket:id="passwordRecoveryRequestCreation" class="btn btn-link">
				<wicket:message key="signIn.password.request.creation" />
			</a>
		</div>
		<div wicket:enclosure-component="passwordRecoveryRequestReset" class="col-auto ms-auto">
			<a wicket:id="passwordRecoveryRequestReset" class="btn btn-outline-primary">
				<wicket:message key="signIn.password.request.reset" />
			</a>
		</div>
	</div>
</wicket:panel>
</html>