body {
	background-color: #DDD;
	
	> .page-container > .container {
		padding-top: 10px;
		padding-bottom: 15px;
		margin-bottom: 15px;
		.border-bottom-radius(3px);
		background-color: #FFF;
		border: 1px solid #CCC;
		border-top: 0;
	}
}

.content {
	min-height: 450px;
	padding: 15px;
	padding-top: 0;
	
	.clearfix();
}

.modal {
	h1 {
		border-bottom: 1px #CCC solid;
		margin-bottom: 20px;
		padding-bottom: 2px;
		
		.btn:not(.btn-mini):not(.btn-small):not(.btn-large) {
			padding-top: 3px;
			padding-bottom: 3px;
		}
		
		select {
			height: 24px;
			padding: 3px;
		}
	}
	
	h2 {
		border-bottom: 1px #CCC solid;
		margin-bottom: 15px;
		padding-bottom: 2px;
		
		.btn:not(.btn-mini):not(.btn-small):not(.btn-large) {
			padding-top: 2px;
			padding-bottom: 2px;
		}
		
		select {
			height: 22px;
			padding: 2px 3px;
		}
	}
	
	h3 {
		margin-bottom: 15px;
		padding-bottom: 2px;
	}
	
	h4 {
		margin-bottom: 14px;
		padding-bottom: 1px;
	}
	
	h5 {
		margin-bottom: 12px;
		padding-bottom: 1px;
	}
	
	h6 {
		margin-bottom: 10px;
		padding-bottom: 1px;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		select {
			margin: 0;
		}
		.btn {
			font-weight: normal;
		}
	}
}

// Item It widget
ul.itemit {
	.unstyled();
}

// Feedback panel
.feedbackPanel {
	.unstyled();
}

// Footer
.footer {
	margin-top: 15px;
	padding: 10px 15px;
	text-align: right;
	background: #DDD;
	color: #666;
	border: 1px solid #CCC;
	.border-radius(2px);
}

// Pager
.pagination-outer {
	text-align: right;
	
	.pagination {
		margin: 5px 0;
	}
}