.form-group {
	// Champs obligatoires
	.control-label.required:before {
		content: "@{fa-var-exclamation-circle}  ";
		color: @state-danger-text;
		font-family: FontAwesome;
		font-size: 0.9em;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		vertical-align: top;
	}
}
