/*
 * CAUTION: this stylesheet is intended for integration to an e-mail notification through the use of
 *          IHtmlNotificationCssService. This service only offers PARTIAL support of the CSS syntax.
 *          Please only use simple CSS selectors, such as 'a.btn#theonebutton'. In particular, combinators
 *          such as ' ', '>', '+' are NOT supported. Pseudo-classes and pseudo-elements (:first-child, ::after)
 *          are not supported either.
 */

.alert {
	position: relative;
	padding: $alert-padding-y $alert-padding-x;
	margin-bottom: $alert-margin-bottom;
	border: $alert-border-width solid transparent;
	@include border-radius($alert-border-radius);
}

@each $state, $value in $theme-colors {
	$alert-background: shift-color($value, $alert-bg-scale);
	$alert-border: shift-color($value, $alert-border-scale);
	$alert-color: shift-color($value, $alert-color-scale);
	@if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
		$alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
	}
	.alert-#{$state} {
		@include alert-variant($alert-background, $alert-border, $alert-color);
	}
}
