/*
 * CAUTION: this stylesheet is intended for integration to an e-mail notification through the use of
 *          IHtmlNotificationCssService. This service only offers PARTIAL support of the CSS syntax.
 *          Please only use simple CSS selectors, such as 'a.btn#theonebutton'. In particular, combinators
 *          such as ' ', '>', '+' are NOT supported. Pseudo-classes and pseudo-elements (:first-child, ::after)
 *          are not supported either.
 */

.btn {
	display: inline-block;
	font-weight: $btn-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: $btn-border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
	@include transition($btn-transition);
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
	.btn-#{$color} {
		@include button-variant($value, $value);
	}
}

@each $color, $value in $theme-colors {
	.btn-outline-#{$color} {
		@include button-outline-variant($value);
	}
}

//
// Button Sizes
//

.btn-lg {
	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}
