/*
 * CAUTION: this stylesheet is intended for integration to an e-mail notification through the use of
 *          IHtmlNotificationCssService. This service only offers PARTIAL support of the CSS syntax.
 *          Please only use simple CSS selectors, such as 'a.btn#theonebutton'. In particular, combinators
 *          such as ' ', '>', '+' are NOT supported. Pseudo-classes and pseudo-elements (:first-child, ::after)
 *          are not supported either.
 */

.btn {
	display: inline-block;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	line-height: $btn-line-height;
	color: $body-color;
	text-align: center;
	text-decoration: if($link-decoration == none, null, none);
	white-space: $btn-white-space;
	vertical-align: middle;
	cursor: if($enable-button-pointers, pointer, null);
	user-select: none;
	background-color: transparent;
	border: $btn-border-width solid transparent;
	@include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
	@include transition($btn-transition);
}

@each $color, $value in $theme-colors {
	.btn-#{$color} {
		@include button-variant($value, $value);
	}
}

.btn-lg {
	@include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
	@include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}
