/*
 * CAUTION: this stylesheet is intended for integration to an e-mail notification through the use of
 *					IHtmlNotificationCssService. This service only offers PARTIAL support of the CSS syntax.
 *					Please only use simple CSS selectors, such as 'a.btn#theonebutton'. In particular, combinators
 *					such as ' ', '>', '+' are NOT supported. Pseudo-classes and pseudo-elements (:first-child, ::after)
 *					are not supported either.
 */

table {
	width: 100%;
	margin-bottom: $spacer;
	color: $table-color;
	vertical-align: $table-cell-vertical-align;
	border-color: $table-border-color;
}

th,
td {
	padding: $table-cell-padding-y $table-cell-padding-x;
	vertical-align: top;
	border: $table-border-width solid $table-border-color !important;
}
