/* Reset */
* {
	font-family: Verdana,Helvetica,Arial,sans;
	margin: 0;
	padding: 0;
}

body {
	font-size: 11px;
}

#error-main {
	margin: 100px auto 20px;
	width: 800px;
}

/* Liens */
a {
	color: #2D408E;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #52666D;
	text-decoration: underline;
}

/* Titre */
#banner-title {
	background-color: #50ACC0;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
	padding: 20px;
	text-shadow: 1px 1px 1px #333;
}

/* Contenu */
#content {
	background-color: #FFFFFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	min-height: 200px;
	padding: 20px;
}

#content p {
	font-size: 14px;
	color: #666;
	margin-bottom: 20px;
	line-height: 1.5em;
}

#content p.retour-application {
	margin-top: 10px;
	text-align: right;
}

/* Bandeau inférieur */
#bandeau-inferieur {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-bottom: 30px;
	padding: 10px;
}

#bandeau-inferieur .logo {
	padding: 5px 10px;
	background-color: #FFFFFF;
	display: inline-block;
	border: 1px solid #CCCCCC;
}

#bandeau-inferieur .liens {
	background: #FAFAFA;
	border: 1px solid #CCCCCC;
	float: right;
	line-height: 16px;
	min-width: 200px;
	padding: 5px;
}