.application-access-page {
	background-color: #f8f9fa;
	padding-top: 60px;
	padding-bottom: 60px;
}

.application-access-page .page-container .container, .application-access-page .page-container .environment-section > .environment-container, .application-access-page .page-container .page-section > .page-container, .application-access-page .page-container .footer-section > .footer-container {
	max-width: 546px;
	margin-left: auto;
	margin-right: auto;
}

.application-access-page .page-container .container .card .card-img-top, .application-access-page .page-container .environment-section > .environment-container .card .card-img-top, .application-access-page .page-container .page-section > .page-container .card .card-img-top, .application-access-page .page-container .footer-section > .footer-container .card .card-img-top {
	padding: 0.75rem 1.25rem;
}

.application-access-page .page-container .container .card .card-header.card-main-title, .application-access-page .page-container .environment-section > .environment-container .card .card-header.card-main-title, .application-access-page .page-container .page-section > .page-container .card .card-header.card-main-title, .application-access-page .page-container .footer-section > .footer-container .card .card-header.card-main-title {
	background-color: #007bff;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	font-size: 1.5rem;
	color: #fff;
}

.application-access-page .page-container .container .card .card-header.card-environment, .application-access-page .page-container .environment-section > .environment-container .card .card-header.card-environment, .application-access-page .page-container .page-section > .page-container .card .card-header.card-environment, .application-access-page .page-container .footer-section > .footer-container .card .card-header.card-environment {
	font-size: .75rem;
}

.application-access-page .page-container .container .card .card-footer {
	text-align: right;
}

@media (max-width: 575.98px) {
	.application-access-page {
		background-color: #fff;
		padding: 0;
	}
	.application-access-page .page-container .container, .application-access-page .page-container .environment-section > .environment-container, .application-access-page .page-container .page-section > .page-container, .application-access-page .page-container .footer-section > .footer-container {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
	.application-access-page .page-container .container .card, .application-access-page .page-container .environment-section > .environment-container .card, .application-access-page .page-container .page-section > .page-container .card, .application-access-page .page-container .footer-section > .footer-container .card {
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
	}
	.application-access-page .page-container .container .card [class*="card-"], .application-access-page .page-container .environment-section > .environment-container .card [class*="card-"], .application-access-page .page-container .page-section > .page-container .card [class*="card-"], .application-access-page .page-container .footer-section > .footer-container .card [class*="card-"] {
		border-radius: 0;
	}
}