<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:panel>
		<div wicket:id="body">
			<form wicket:id="addUserForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" wicket:for="userName"><wicket:label /></label>
					<div class="controls">
						<input wicket:id="userName" type="text" class="input-small" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" wicket:for="firstName"><wicket:label /></label>
					<div class="controls">
						<input wicket:id="firstName" type="text" class="input-medium" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" wicket:for="lastName"><wicket:label /></label>
					<div class="controls">
						<input wicket:id="lastName" type="text" class="input-medium" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" wicket:for="email"><wicket:label /></label>
					<div class="controls">
						<input wicket:id="email" type="email" class="input-xlarge" />
					</div>
				</div>
			</form>
		</div>
		
		<div wicket:id="footer">
			<button wicket:id="cancel" class="btn" type="button">
				<span class="icon-ban-circle"></span>
				<wicket:message key="widgets.modal.user.cancel" />
			</button>
			<button wicket:id="save" class="btn btn-success">
				<span class="icon-ok icon-white"></span>
				<wicket:message key="widgets.modal.user.save" />
			</button>
		</div>
	</wicket:panel>
</html>