<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
	<wicket:extend>
		<div wicket:id="addPopup" />
		
		<div class="administration user-portfolio liste">
			<div class="page-title">
				<div class="container">
					<button wicket:id="addButton" class="btn btn-primary pull-right" type="button">
						<span class="fa fa-plus"></span>
						<wicket:message key="common.action.create" />
					</button>
					
					<h1 class="page-title-text"><wicket:container wicket:id="title" /></h1>
				</div>
			</div>
			
			<div class="main-content">
				<div class="container">
					<div wicket:id="searchPanel" class="page-lead row with-lead-icon-cropped-top" />
					<div wicket:id="portfolio" />
				</div>
			</div>
		</div>
	</wicket:extend>
</html>