<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<!-- Popup d'édition de l'utilisateur -->
	<wicket:container wicket:id="userEditPopupPanel"></wicket:container>
	
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="btn-group pull-right">
						<button wicket:id="editUserPopupLink" class="btn btn-primary btn-icon-only" type="button"
								wicket:message="title:common.action.edit">
							<span class="fa fa-pencil" />
						</button>
					</span>
					
					<h2 class="panel-title"><wicket:message key="user.portfolio.profile" /></h2>
				</div>
				
				<div class="panel-body">
					<div class="key-value-list">
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.username" /></div>
							<div class="line-value col-sm-7" wicket:id="userName"></div>
						</div>
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.email" /></div>
							<div class="line-value col-sm-7"><a wicket:id="emailLink"></a></div>
						</div>
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.phone" /></div>
							<div class="line-value col-sm-7" wicket:id="phoneNumber"></div>
						</div>
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.gsm" /></div>
							<div class="line-value col-sm-7" wicket:id="gsmNumber"></div>
						</div>
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.fax" /></div>
							<div class="line-value col-sm-7" wicket:id="faxNumber"></div>
						</div>
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.active" /></div>
							<div class="line-value col-sm-7"><span wicket:id="active"></span></div>
						</div>
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.creationDate" /></div>
							<div class="line-value col-sm-7" wicket:id="creationDate"></div>
						</div>
						<div class="line row">
							<div class="line-label col-sm-5"><wicket:message key="user.lastLoginDate" /></div>
							<div class="line-value col-sm-7" wicket:id="lastLoginDate"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>