<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
		<div wicket:id="nodes" class="panel panel-default">
			<wicket:container wicket:id="node" />
		</div>
	</wicket:panel>

	<wicket:fragment wicket:id="node">
		<wicket:container wicket:id="queueIds" />
	</wicket:fragment>

	<wicket:fragment wicket:id="nodeTitle">
		<wicket:container wicket:id="title" />
		<div wicket:id="status" />
	</wicket:fragment>

<!-- 	<wicket:fragment wicket:id="nodeActions"> -->
<!-- 		<a wicket:id="start" class="btn btn-success"> -->
<!-- 			<span class="fa fa-?" /> -->
<!-- 			<wicket:message key="" /> -->
<!-- 		</a> -->
<!-- 		<a wicket:id="stop" class="btn btn-danger"> -->
<!-- 			<span class="fa fa-?" /> -->
<!-- 			<wicket:message key="" /> -->
<!-- 		</a> -->
<!-- 	</wicket:fragment> -->

	<wicket:fragment wicket:id="threads">
		<span wicket:id="thread" />
	</wicket:fragment>

	<wicket:fragment wicket:id="runningThreads">
		<span wicket:id="thread" />
	</wicket:fragment>

	<wicket:fragment wicket:id="waitingThreads">
		<span wicket:id="thread" />
	</wicket:fragment>
</body>
</html>