<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="footer-container">
		<div class="row row-xs">
			<div class="col-auto ml-auto">
				<div class="footer-description">
					<div class="row row-xs align-items-center justify-content-end">
						<div class="col-auto">
							<div class="footer-description-info">
								<h6 class="footer-title"><wicket:message key="common.rootPageTitle" /></h6>
								<div wicket:id="version" class="footer-info-version" />
								<div wicket:id="sha" class="footer-info-sha" />
							</div>
						</div>
						<div class="col-auto">
							<div class="footer-description-logo">
								<a href="https://github.com/igloo-project/igloo-parent" target="_blank">
									<img src="static/application/images/logo-igloo-square.png" height="40" width="40" alt="Logo Igloo">
								</a>
							</div>
						</div>
						<div wicket:enclosure-component="changeTheme" class="col-auto">
							<button wicket:id="changeTheme" class="btn btn-warning" type="button">
								<span class="fa fa-fw fa-drafting-compass" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>