<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<div class="footer-container">
		<div class="footer-info media align-items-center">
			<a href="https://github.com/igloo-project/igloo-parent" target="_blank">
				<img class="mr-3" src="static/application/images/logo-igloo-square.png" height="40" width="40" alt="Logo Igloo">
			</a>
			<div class="media-body">
				<h6 class="footer-info-title"><wicket:message key="common.rootPageTitle" /></h6>
				<div wicket:id="version" class="footer-info-version" />
				<div wicket:id="sha" class="footer-info-sha" />
			</div>
		</div>
	</div>
</wicket:panel>
</html>