$navbar-dark-color:								#FFFFFF;
$navbar-dark-hover-color:						$navbar-dark-color;
$navbar-dark-active-color:						$navbar-dark-color;
$navbar-dark-disabled-color:					rgba($navbar-dark-color, .5) !default;